<%# Included *twice*             %>
<%#  - from review/show.html.erb %>
<%#  - from kata/edit.html.erb   %>

<%= render partial: 'review/faders' %>
<%= render partial: 'review/lib/avatars' %>
<%= render partial: 'review/lib/get_json' %>
<%= render partial: 'review/lib/pick_file' %>
<%= render partial: 'shared/charity_dialog' %>
<%= render partial: 'shared/sponsorship_dialog' %>
<%= render partial: 'shared/sorted_filenames' %>

<div class="review-grid">

  <div class="left-column">
    <table class="controls">
      <tr><td><%= render partial: 'review/resume_button' %></td>
          <td><%= render partial: 'review/traffic_light_navigator' %></td></tr>
      <tr><td><%= render partial: 'review/checkout_button' %>
              <%= render partial: 'review/fork_button' %></td>
          <td><%= render partial: 'review/avatar_navigator' %></td></tr>
      <tr><td><%= render partial: 'review/diff_checkbox' %>
              <%= render partial: 'review/help_icon' %></td>
          <td><%= render partial: 'review/extra_checkbox' %></td></tr>
    </table>
    <table>
      <tr><td><%= render partial: 'review/filenames' %></td></tr>
      <tr><td><%= render partial: 'review/files' %></td></tr>
      <tr><td><%= render partial: 'review/output' %></td></tr>
    </table>
  </div>

  <div class="right-column">
    <%= render partial: 'review/traffic_lights' %>
    <div id="diff-content"></div>
    <div id="diff-content-output"></div>
  </div>

  <div class="right-gutter">
    <%= render partial: 'review/traffic_lights_counts' %>
    <%= render partial: 'review/predict_counts' %>
    <%= render partial: 'shared/sponsorship' %>
  </div>

</div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.page = $('#review-page'); // Used by faders
  
  review.isIndependent = () => $('#kata-page').length === 0;

  review.refresh = (id, index) => {
    cd.lib.getEvents(id, (events) => {
      review.refreshFromEvents(id, index, events);
    });
  };

  review.refreshFromEvents = (id, index, events) => {
    cd.settings.hideButton();
    review.id = id;    
    review.index = index;

    review.extraCheckBox  .setVisibility(events);
    review.trafficLights  .refresh(events);
    review.files          .refresh(events);
    review.avatarNavigator.refresh();
    review.output         .refresh();
    review.checkoutButton .refresh();
    review.forkButton     .refresh();
  };

  const oneTimeSetup = (id, index) => {
    cd.lib.getEvents(id, (events) => {
      if (index == -1) {
       // We are showing the latest event for the given avatar
       // We are *not* showing a diff.
        review.diffCheckBox.refresh(false);
        index = events.length - 1;
      } else {
        // We are showing the event given by index (!= -1)
        // We *are* showing a diff.
        review.diffCheckBox.refresh(true);        
      }
      review.extraCheckBox.refresh(false);
      review.refreshFromEvents(id, index, events);
    });
  };

  review.fromTestPage = (id, index) => {
    // Called from test page 
    review.fadeIn(() => {
      review.checkoutButton.show();
      review.resumeButton.show();
    });
    oneTimeSetup("<%= @id %>", index);
  };

  if (review.isIndependent()) {
    // Called from dashboard page
    review.page.show();
    const index = parseInt(cd.urlParam('now_index', -1));
    oneTimeSetup("<%= @id %>", index);
  }

});
</script>
