<%# Included *twice*             %>
<%#  - from review/show.html.erb %>
<%#  - from kata/edit.html.erb   %>

<%= render partial: 'review/faders' %>
<%= render partial: 'review/lib/avatars' %>
<%= render partial: 'review/lib/get_json' %>
<%= render partial: 'review/lib/pick_file' %>
<%= render partial: 'shared/charity_dialog' %>
<%= render partial: 'shared/sponsorship_dialog' %>
<%= render partial: 'shared/sorted_filenames' %>

<div class="review-grid">

  <div class="left-column">
    <table class="controls">
      <tr><td><%= render partial: 'review/resume_button' %>
              <%= render partial: 'review/avatar_navigator' %></td></tr>
      <tr><td><%= render partial: 'review/checkout_button' %>
              <%= render partial: 'review/fork_button' %>
              <%= render partial: 'review/traffic_light_navigator' %></td></tr>
      <tr><td><%= render partial: 'review/diff_checkbox' %>
              <%= render partial: 'review/help_icon' %>
              <%= render partial: 'review/extra_checkbox' %></td></tr>
    </table>
    <table>
      <tr><td><%= render partial: 'review/filenames' %></td></tr>
      <tr><td><%= render partial: 'review/files' %></td></tr>
      <tr><td><%= render partial: 'review/output' %></td></tr>
    </table>
  </div>

  <div class="right-column">
    <%= render partial: 'review/traffic_lights' %>
    <div id="diff-content"></div>
    <div id="diff-content-output"></div>
  </div>

  <div class="right-gutter">
    <%= render partial: 'review/traffic_lights_counts' %>
    <%= render partial: 'review/predict_counts' %>
    <%= render partial: 'shared/sponsorship' %>
  </div>

</div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.page = $('#review-page'); // Used by faders
  
  review.isIndependent = () => $('#kata-page').length === 0;

  review.refresh = (id, index) => {
    $.getJSON('/saver/kata_events', {id: review.id}, (json) => {
      const events = json['kata_events'];
      review.refreshFromEvents(id, index, events);
    });
  };

  review.refreshFromEvents = (id, index, events) => {
    cd.settings.hideButton();
    review.id = id;    
    review.index = index;

    review.trafficLights  .refresh(events);
    review.avatarNavigator.refresh();
    review.files          .refresh(events);
    review.output         .refresh();
    review.checkoutButton .refresh();
    review.forkButton     .refresh();
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  // When arriving from a dashboard *avatar*
  //    o) wasIndex == -1, nowIndex == -1
  //    o) we are showing the latest event for the given avatar
  //    o) we are *not* showing a diff.
  // When arriving from traffic-light (on test-page or dashboard-page)
  //    o) wasIndex != nowIndex
  //    o) we are showing the event given by nowIndex (which does not equal -1)
  //    o) we *are* showing a diff.

  review.fromTestPage = (id, wasIndex, nowIndex) => {
    // Called from source/app/views/kata/_traffic_lights.html.erb
    // Called from source/app/views/kata/_avatar_image.html.erb with (id,-1,-1)
    review.fadeIn(() => {
      review.checkoutButton.show();
      review.resumeButton.show();
    });

    review.id = id;
    review.index = nowIndex;

    $.getJSON('/saver/kata_events', {id: review.id}, (json) => {
      const events = json['kata_events'];
      review.diffCheckBox .refresh(wasIndex != nowIndex);
      review.extraCheckBox.refresh(false);
      review.refreshFromEvents(id, nowIndex, events);
    });
  };

  if (review.isIndependent()) {
    let wasIndex = parseInt(cd.urlParam('was_index', -1));
    let nowIndex = parseInt(cd.urlParam('now_index', -1));
    review.id = "<%= @id %>";
    review.page.show();
    review.diffCheckBox .refresh(wasIndex != nowIndex);
    $.getJSON('/saver/kata_events', {id: review.id}, (json) => {
      const events = json['kata_events'];
      
      // JavaScript does not support negative indexes
      if (wasIndex == -1) {
        wasIndex = events.length - 1;
      }
      if (nowIndex == -1) {
        nowIndex = events.length - 1;
      }

      const wasFileEvent = cd.lib.isFileEvent(events[wasIndex]);
      const nowFileEvent = cd.lib.isFileEvent(events[nowIndex]);
      review.extraCheckBox.refresh(wasFileEvent || nowFileEvent);
      review.refreshFromEvents(review.id, nowIndex, events);
    });
  }

});
</script>
