<%# Included *twice*             %>
<%#  - from review/show.html.erb %>
<%#  - from kata/edit.html.erb   %>

<%= render partial: 'review/faders' %>
<%= render partial: 'review/lib/avatars' %>
<%= render partial: 'review/lib/get_json' %>
<%= render partial: 'review/lib/pick_file' %>
<%= render partial: 'shared/charity_dialog' %>
<%= render partial: 'shared/sponsorship_dialog' %>
<%= render partial: 'shared/sorted_filenames' %>

<div class="review-grid">

  <div class="left-column">
    <table class="controls">
      <tr><td><%= render partial: 'review/resume_button' %>
              <%= render partial: 'review/avatar_navigator' %></td></tr>
      <tr><td><%= render partial: 'review/checkout_button' %>
              <%= render partial: 'review/fork_button' %></td></tr>
    </table>
    <table>
      <tr><td><%= render partial: 'review/diff_checkbox' %>
              <%= render partial: 'review/help_icon' %>
              <%= render partial: 'review/extra_checkbox' %></td></tr>
      <tr><td><%= render partial: 'review/filenames' %></td></tr>
      <tr><td><%= render partial: 'review/files' %></td></tr>
      <tr><td><%= render partial: 'review/output' %></td></tr>
    </table>
  </div>

  <div class="right-column">
    <%= render partial: 'review/traffic_light_navigator' %>
    <%= render partial: 'review/traffic_lights' %>
    <div id="diff-content"></div>
    <div id="diff-content-output"></div>
  </div>

  <div class="right-gutter">
    <%= render partial: 'review/traffic_lights_counts' %>
    <%= render partial: 'review/predict_counts' %>
    <%= render partial: 'shared/sponsorship' %>
  </div>

</div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.page = $('#review-page'); // Used by faders
  
  review.isIndependent = () => $('#kata-page').length === 0;

  review.refresh = (id, index, showDiff = review.diffCheckBox.isChecked()) => {
    cd.settings.hideButton();
    review.id = id;    
    review.index = index;

    $.getJSON('/saver/kata_events', {id: review.id}, (json) => {
      const events = json['kata_events'];
      review.trafficLights  .refresh(events);
      review.avatarNavigator.refresh();
      review.diffCheckBox   .refresh(showDiff);
      review.extraCheckBox  .refresh(events);
      review.files          .refresh(events);
      review.output         .refresh();
      review.checkoutButton .refresh();
      review.forkButton     .refresh();
    });
  };

  review.refresh2 = (id, wasIndex, nowIndex, showDiff=null) => {

    // called...
    // diff-checkbox is clicked  (showDiff not passed)
    // traffic-light is clicked  (showDiff not passed)
    // traffic-light < > navigator is clicked (showDiff not passed)
    // avatar-navigator is clicked (showDiff is not passed)
    // TODO: fromTestPage(), needs to pass wasIndex?

    if (showDiff === null) {
      showDiff = review.diffCheckBox.isChecked()
    }

    // extraCheckBox.isChecked() iff 
    // events[wasIndex] is an ITE OR events[nowIndex] is an ITE
    // So, saver.events needs to be loaded so we can determine this...
    // Need to extract this from _traffic_light.html.erb
    //review.diffCheckBox.refresh(wasIndex != nowIndex);
    //review.extraCheckBox.refresh(...);

    cd.settings.hideButton();
    review.id = id;
    review.index = nowIndex;

    review.wasIndex = wasIndex;
    review.nowIndex = nowIndex;

    $.getJSON('/saver/kata_events', {id: review.id}, (json) => {
      const events = json['kata_events'];
      review.trafficLights  .refresh(events);    
      review.avatarNavigator.refresh();
      review.diffCheckBox   .refresh(showDiff);
      review.extraCheckBox  .refresh(events);
      review.files          .refresh2(events);
      review.output         .refresh();
      review.checkoutButton .refresh();
      review.forkButton     .refresh();
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  // When arriving from a dashboard *avatar*
  //    o) wasIndex == -1, nowIndex == -1
  //    o) we are showing the latest event for the given avatar
  //    o) we are *not* showing a diff.
  // When arriving from traffic-light (on test-page or dashboard-page)
  //    o) wasIndex != nowIndex
  //    o) we are showing the event given by nowIndex (which does not equal -1)
  //    o) we *are* showing a diff.

  review.fromTestPage2 = (id, wasIndex, nowIndex) => {
    // Called from source/app/views/kata/_traffic_lights.html.erb
    // Called from source/app/views/kata/_avatar_image.html.erb with (id,-1,-1)
    review.fadeIn(() => {
      review.checkoutButton.show();
      review.resumeButton.show();
    });
    const showDiff = true;
    review.refresh2(id, wasIndex, nowIndex, showDiff)
  };

  //review.fromTestPage = (id, index) => {
  //  // Called from source/app/views/kata/_traffic_lights.html.erb
  //  // Called from source/app/views/kata/_avatar_image.html.erb with index == -1
  //  review.fadeIn(() => {
  //    review.checkoutButton.show();
  //    review.resumeButton.show();
  //  });
  //  const showDiff = true;
  //  review.refresh(id, index, showDiff); 
  //  // TODO: 
  //  // review.refresh2(id, wasIndex, nowIndex, showDiff)
  //};

  if (review.isIndependent()) {
    const wasIndex = parseInt(cd.urlParam('was_index', -1));
    const nowIndex = parseInt(cd.urlParam('now_index', -1));
    const showDiff = (wasIndex != nowIndex);
    review.page.show();
    review.refresh2("<%= @id %>", wasIndex, nowIndex, showDiff);
    //review.refresh("<%= @id %>", nowIndex, showDiff);
  }

});
</script>
