<%# Included *twice*             %>
<%#  - from review/show.html.erb %>
<%#  - from kata/edit.html.erb   %>

<%= render partial: 'review/index' %>
<%= render partial: 'review/faders' %>
<%= render partial: 'review/lib/avatars' %>
<%= render partial: 'review/lib/get_json' %>
<%= render partial: 'review/lib/pick_file' %>
<%= render partial: 'shared/charity_dialog' %>
<%= render partial: 'shared/sponsorship_dialog' %>
<%= render partial: 'shared/sorted_filenames' %>

<div class="review-grid">

  <div class="left-column">
    <table class="controls">
      <tr><td><%= render partial: 'review/resume_button' %></td>
          <td><%= render partial: 'review/avatar_navigator' %></td></tr>
          
      <tr><td><%= render partial: 'review/checkout_button' %>
              <%= render partial: 'review/fork_button' %></td>
          <td><%= render partial: 'review/diff' %>
              <%= render partial: 'review/help_icon' %></td></tr>                  
    </table>
    <table>
      <tr><td><%= render partial: 'review/filenames' %></td></tr>
      <tr><td><%= render partial: 'review/files' %></td></tr>
      <tr><td><%= render partial: 'review/output' %></td></tr>
    </table>
  </div>

  <div class="right-column">
    <%= render partial: 'review/traffic_light_navigator' %>
    <%= render partial: 'review/traffic_lights' %>
    <div id="diff-content"></div>
    <div id="diff-content-output"></div>
  </div>

  <div class="right-gutter">
    <%= render partial: 'review/traffic_lights_counts' %>
    <%= render partial: 'review/predict_counts' %>
    <%= render partial: 'shared/sponsorship' %>
  </div>

</div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.id = undefined;
  review.index = undefined;
  review.events = undefined;

  review.page = $('#review-page'); // Used by _faders and _filenames
  
  review.isFromDashboardPage = () => $('#kata-page').length == 0;
  review.currentEvent = () => review.events[review.index];
  review.isOnFileEvent = () => cd.lib.isFileEvent(review.currentEvent());

  review.refresh = (id, index) => {
    review.id = id;
    review.index = review.pickIndex(index);
    review.avatarNavigator.refresh();
    review.files          .refresh();
    review.output         .refresh();
    review.trafficLights  .refresh();
    review.checkoutButton .refresh();
    review.forkButton     .refresh();
    //review.detailsCheckBox.setVisibility();
  };

  const startup = (id, index) => {
    cd.settings.hideButton();
    cd.lib.getEvents(id, (events) => {
      review.events = events;
      review.refresh(id, index);
    });
  };

  review.fromTestPage = (id, index) => {
    review.fadeIn(() => {
      review.checkoutButton.show();
      review.resumeButton.show();
    });
    startup("<%= @id %>", index);
  };

  if (review.isFromDashboardPage()) {
    review.page.show();
    const index = parseInt(cd.urlParam('now_index', -1));
    startup("<%= @id %>", index);
  }

});
</script>
