<%# Included *twice*             %>
<%#  - from review/show.html.erb %>
<%#  - from kata/edit.html.erb   %>

<%= render partial: 'review/faders' %>
<%= render partial: 'review/lib/avatars' %>
<%= render partial: 'review/lib/get_json' %>
<%= render partial: 'review/lib/pick_file' %>
<%= render partial: 'shared/charity_dialog' %>
<%= render partial: 'shared/sponsorship_dialog' %>
<%= render partial: 'shared/sorted_filenames' %>

<div class="review-grid">

  <div class="left-gutter">
    <%= render partial: 'review/traffic_lights_counts' %>
    <%= render partial: 'review/predict_counts' %>
    <%= render partial: 'shared/sponsorship' %>
  </div>

  <div class="left-column">
    <table class="controls">
      <tr><td><%= render partial: 'review/resume_button' %></td></tr>
      <tr><td><%= render partial: 'review/checkout_button' %>
              <%= render partial: 'review/fork_button' %></td></tr>
    </table>
    <table>
      <tr><td><%= render partial: 'review/diff_checkbox' %>
              <%= render partial: 'review/help_icon' %></td></tr>
      <tr><td><%= render partial: 'review/filenames' %></td></tr>
      <tr><td><%= render partial: 'review/files' %></td></tr>
      <tr><td><%= render partial: 'review/output' %></td></tr>
    </table>
  </div>

  <div class="right-column">
    <%= render partial: 'review/avatar_navigator' %>
    <%= render partial: 'review/traffic_light_navigator' %>
    <%= render partial: 'review/traffic_lights' %>
    <div id="diff-content"></div>
    <div id="diff-content-output"></div>
  </div>

</div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.page = $('#review-page'); // Used by faders

  review.isIndependent = () => $('#kata-page').length === 0;

  review.refresh = (id, index, showDiff = review.diffCheckBox.isChecked()) => {
    cd.settings.hideButton();
    review.id = id;
    review.index = index;
    review.avatarNavigator.refresh();
    review.diffCheckBox   .refresh(showDiff);
    review.files          .refresh();
    review.output         .refresh();
    review.trafficLights  .refresh();
    review.checkoutButton .refresh();
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  // When arriving from a dashboard *avatar*
  //    o) wasIndex == -1, nowIndex == -1
  //    o) we are *not* showing a diff.
  // When arriving from traffic-light (on test-page or dashboard-page)
  //    o) wasIndex == nowIndex-1
  //    o) we *are* showing a diff.

  review.fromTestPage = (id, index) => {
    review.fadeIn(() => {
      review.checkoutButton.show();
      review.resumeButton.show();
    });
    const showDiff = true;
    review.refresh(id, index, showDiff);
  };

  if (review.isIndependent()) {
    const wasIndex = parseInt(cd.urlParam('was_index', -1));
    const nowIndex = parseInt(cd.urlParam('now_index', -1));
    const showDiff = (wasIndex != nowIndex);
    review.page.show();
    review.refresh("<%= @id %>", nowIndex, showDiff);
  }

});
</script>
