<%= render partial: 'review/create_button' %>
<%= render partial: 'review/group_neighbours' %>
<%= render partial: 'review/faders' %>
<%= render partial: 'review/get_json' %>
<%= render partial: 'review/pick_file' %>
<%= render partial: 'shared/sorted_filenames' %>

<div id="review-top-row">
  <%= render partial: 'review/help_icon' %>
  <%= render partial: 'review/avatar_navigator' %>
  <%= render partial: 'review/traffic_light_navigator' %>
  <%= render partial: 'review/traffic_lights' %>
</div>

<table>
  <tr valign="top">
    <td class="left-column">
      <table class="controls">
        <tr>
          <td><%= render partial: 'review/resume_button' %></td>
          <td><%= render partial: 'review/diff_checkbox' %></td>
          <td><%= render partial: 'review/fork_button' %></td>
          <td><%= render partial: 'review/checkout_button' %></td>
        </tr>
      </table>
      <table>
        <tr><td><%= render partial: 'review/filenames' %></td></tr>
        <tr><td><%= render partial: 'review/files' %></td></tr>
        <tr><td><%= render partial: 'review/output' %></td></tr>
      </table>
    </td>
    <td>
      <div id="diff-content"></div>
      <div id="diff-content-output"></div>
    </td>
  </tr>
</table>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.page = $('#review-page');

  // - - - - - - - - - - - - - - - - - - - - - - - -
  review.fromTestPage = (kataId, index) => {
    review.fadeIntoReviewPage();
    review.refresh(kataId, index-1, index);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  review.refresh = (kataId, wasIndex, nowIndex) => {
    review.refreshAvatarNavigator(kataId);
    review.refreshDiffCheckBox(kataId, (wasIndex != nowIndex), nowIndex);
    review.refreshFiles(kataId, wasIndex, nowIndex);
    review.refreshOutput(kataId, nowIndex);
    review.refreshTrafficLights(kataId, nowIndex);

    review.refreshCheckoutButton(kataId, nowIndex)
    review.refreshForkButton(kataId, nowIndex)
    review.refreshResumeButton()
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  // When arriving from a dashboard avatar
  //    o) wasIndex == -1, nowIndex == -1, we are not showing a diff.
  // When arriving from traffic-light (on test-page or dashboard-page)
  //    o) wasIndex == nowIndex-1, we are showing a diff.

  if (!review.inTestPage) {
    review.page.show();
    review.refresh("<%= @id %>", <%= @was_index %>, <%= @now_index %>);
  }

});
</script>
