<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review = {};

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // After refresh() has been called review.params also contains...
  // events
  //   holds the traffic-lights and is used to program
  //   the traffic-light [<][<][>][>] navigator buttons.
  // prevAvatarId
  // nextAvatarId
  //   hold the kata-ids and used is used to program
  //   the avatar [<][>] navigator buttons.
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  review.page = $('#review-page');

  review.params = {
        version: "<%= @version %>",
             id: "<%= @id %>",
        groupId: "<%= @group_id %>",
    avatarIndex: "<%= @avatar_index %>",
       wasIndex: "<%= @was_index %>",
       nowIndex: "<%= @now_index %>",
       filename: "<%= @filename %>"
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const $kataPage = $('#kata-page');

  const inTestPage = $kataPage.length !== 0;

  cd.setReviewData = (version, id, groupId, avatarIndex, wasIndex, nowIndex, filename) => {
    // Called only from app/views/kata/_traffic_lights.html.erb
    // The [resume] & [checkout] buttons are only shown on kata/edit. [1]
    review.params = {
          version:version,
               id:id,
          groupId:groupId,
      avatarIndex:avatarIndex,
         wasIndex:wasIndex,
         nowIndex:nowIndex,
         filename:filename
    };
    fadeIntoReviewPage();
    setupButton('resume', () => fadeIntoKataPage(() => { // [1]
      cd.kata.editor.refocus();
    }));
    setupButton('checkout', () => fadeIntoKataPage(() => { // [1]
      cd.checkout({ src_id:review.params.id, src_index:review.params.nowIndex });
    }));
    setCheckoutButtonTip();
    refresh();
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const fadeIntoReviewPage = () => {
    $kataPage.fadeOut('fast', () => {
      review.page.fadeIn('fast');
    });
  };
  const fadeIntoKataPage = (onComplete) => {
    review.page.fadeOut('fast', () => {
      $kataPage.fadeIn('fast', () => {
        onComplete();
      });
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  review.moveToTrafficLight = (index) => {
    const delta = review.inDiffMode() ? 1 : 0;
    review.params.nowIndex = index;
    review.params.wasIndex = index - delta;
    refresh();
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const refresh = () => {
    const reviewParams = {
           version: review.params.version,
                id: review.params.id,
          group_id: review.params.groupId,
         was_index: review.params.wasIndex,
         now_index: review.params.nowIndex,
          filename: review.params.filename
    };
    cd.waitSpinner.fadeIn('fast', () => {
      $.getJSON('/differ/diff', reviewParams, (data) => {
        review.params = data;
        cd.waitSpinner.fadeOut('fast', () => {
          review.refreshAvatarNavigator();
          review.refreshTrafficLights();          // this first
          review.refreshTrafficLightsNavigator(); // this second
          review.refreshDiffCheckBox();
          review.refreshFiles();
          review.refreshOutput();
          scrollCurrentTrafficLightIntoView();
          cd.setupHoverTips($('[data-tip]'));
        });
      });
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const scrollCurrentTrafficLightIntoView = () => {
    // refreshTrafficLights() has updated the dom with a $('#traffic-light-marker')
    // I cannot find a nice way to access it once the dom is ready. So this :-(
    const quarterSecond = 250;
    const scroller = () => {
      $('#traffic-light-marker').scrollIntoView({
        direction:'horizontal',
        duration:'slow'
      });
    };
    setTimeout(scroller, quarterSecond);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const setForkButtonTip = () => {
    const $button = $('#fork-button');
    const tip = `create a new<br/>exercise from this<br/>traffic-light's files`;
    cd.createTip($button, tip);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const setCheckoutButtonTip = () => {
    // Prefer 'checkout' to 'revert' since in a group exercises
    // you can revert to other avatar's traffic-lights.
    const $button = $('#checkout-button');
    const tip = `make this traffic-light's<br/>files your current files`;
    cd.createTip($button, tip);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const setupButton = (name, handler) => {
    const button = `<button id="${name}-button" type="button"></button>`;
    $(`#${name}-button-box`).html(button);
    $(`#${name}-button`)
      .text(name)
      .unbind('click')
      .bind('click', handler);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  setupButton('fork', () => cd.forkDialog(review.params.id, review.params.nowIndex));
  setForkButtonTip();
  if (!inTestPage) {
    review.page.show();
    refresh();
  }

});
//--></script>

<%= render partial: 'shared/filenames_sorted' %>
<%= render partial: 'review/file_picker' %>

<div id="review-top-row">
  <%= render partial: 'review/avatar_navigator' %>
  <%= render partial: 'review/traffic_light_navigator' %>
  <%= render partial: 'review/traffic_lights' %>
</div>

<table>
  <tr valign="top">
    <td class="left-column">
      <table class="controls">
        <tr>
          <td><div id="resume-button-box"></div></td>
          <td><%= render partial: 'review/diff_checkbox' %></td>
          <td><div id="fork-button-box"></div></td>
          <td><div id="checkout-button-box"></div></td>
        </tr>
      </table>
      <table>
        <tr><td><%= render partial: 'review/diff_filenames' %></td></tr>
        <tr><td><%= render partial: 'review/refresh_output' %></td></tr>
      </table>
    </td>
    <td>
      <div id="diff-content"></div>
    </td>
  </tr>
</table>
