<script type="text/javascript"><!--
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // After refresh() has been called param also contains
  // param.events
  //   holds the traffic-lights and is used to program
  //   the traffic-light [<][<][>][>] navigator buttons.
  // param.prevAvatarId
  // param.nextAvatarId
  //   hold the kata-ids and used is used to program
  //   the avatar [<][>] navigator buttons.
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  let param = {
        version: "<%= @version %>",
             id: "<%= @id %>",
        groupId: "<%= @group_id %>",
    avatarIndex: "<%= @avatar_index %>",
     avatarName: "<%= @avatar_name %>",
       wasIndex: "<%= @was_index %>",
       nowIndex: "<%= @now_index %>",
       filename: "<%= @filename %>"
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  // There is only one call to cd.setReviewData() and its
  // in app/views/kata/_traffic_lights.html.erb
  // The [resume] & [checkout] buttons are only on kata/edit.
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.setReviewData = (version, id, groupId, avatarName, avatarIndex, wasIndex, nowIndex, filename) => {
    param = {
          version:version,
               id:id,
          groupId:groupId,
       avatarName:avatarName,
      avatarIndex:avatarIndex,
         wasIndex:wasIndex,
         nowIndex:nowIndex,
         filename:filename
    };
    $('#kata-page').fadeOut('slow', () => {
      $('#review-page').fadeIn('slow');
    });
    setupAvatar(avatarName, avatarIndex);
    setupButton('resume', () => {
      $('#review-page').fadeOut('fast', () => {
        $('#kata-page').fadeIn('fast', () => {
          cd.editorRefocus();
        });
      });
    });
    setupButton('checkout', () => doCheckout());
    setCheckoutButtonTip();
    refresh();
  };

  const setupAvatar = (avatarName, avatarIndex) => {
    if (avatarName != '') {
      // We are in a group-exercise. Display the active avatar
      // to the left of the [resume] button.
      $('#avatar-box').empty().append($('<img>', {
        src:`/avatar/image/${avatarIndex}`,
        alt:`${avatarName}`,
        class:'avatar-image'
      }));
    }
  };

  const inTestPage = $('#kata-page').length !== 0;

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const moveToAvatar = (id) => {
    param.id = id;
    const index = inDiffMode() ? 1 : -1;
    moveToTrafficLight(index);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const moveToTrafficLight = (index) => {
    const delta = inDiffMode() ? 1 : 0;
    param.nowIndex = index;
    param.wasIndex = index - delta;
    refresh();
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const refresh = () => {
    const reviewParams = {
           version: param.version,
                id: param.id,
          group_id: param.groupId,
         was_index: param.wasIndex,
         now_index: param.nowIndex,
          filename: param.filename
    };
    cd.waitSpinner.fadeIn('fast', () => {
      $.getJSON('/differ/diff', reviewParams, (data) => {
        cd.waitSpinner.fadeOut('fast', () => {
          param = data;
          refreshAvatarNavigator();
          refreshIndexNavigator();
          refreshTrafficLights();
          refreshFiles();
          refreshDiffCheckBox();
          scrollCurrentTrafficLightIntoView();
        });
      });
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const scrollCurrentTrafficLightIntoView = () => {
    // refreshTrafficLights() has updated the dom with an
    // element $('#traffic-light-marker') but we cannot
    // reliably access it until the dom is ready.
    // $(scrollCurrentTrafficLightIntoView); does not work.
    // So this instead... Yeuch.
    const halfSecond = 500;
    const scroller = () => {
      $('#traffic-light-marker').scrollIntoView({
        direction:'horizontal',
        duration:'slow'
      });
    };
    setTimeout(scroller, halfSecond);
  };

  //-----------------------------------------
  // diff? [x]
  //-----------------------------------------

  const inDiffMode = () => diffCheckBox().is(':checked');

  const diffCheckBox = () => $('#diff-checkbox');

  const refreshDiffCheckBox = () => {
    const checked = param.wasIndex !== param.nowIndex;
    diffCheckBox()
      .prop('checked', checked) // must be from params
      .unbind('click')
      .bind('click', () => moveToTrafficLight(param.nowIndex));

    $('#diff-checkbox-title')
      .unbind('click')
      .bind('click', () => {
        diffCheckBox().attr('checked', !inDiffMode());
        moveToTrafficLight(param.nowIndex);
      });
  };

  //-----------------------------------------
  // [<]avatar[>]
  //-----------------------------------------

  const refreshAvatarNavigator = () => {
    if (param.avatarName === '') {
      $('#avatar-navigator').hide();
    } else {
      refreshAvatar($('#prev-avatar'), param.prevAvatarId);
      $('#review-avatar-image-box').html(makeAvatarImageHtml());
      refreshAvatar($('#next-avatar'), param.nextAvatarId);
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const makeAvatarImageHtml = () => {
    return `<img class="avatar-image" src="/avatar/image/${param.avatarIndex}"/>`;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const refreshAvatar = (button, id) => {
    button
      .attr('disabled', id === '')
      .unbind('click')
      .bind('click', () => moveToAvatar(id));
  };

  //-----------------------------------------
  // [<][<]traffic-light-index[>][>]
  //-----------------------------------------

  const refreshIndexNavigator = () => {
    refreshIndex($('#first-index'),prevEventIndex(1));
    refreshIndex($('#prev-index'), prevEventIndex(param.nowIndex-1));
    $('#review-index-box').html(makeIndexHtml());
    refreshIndex($('#next-index'), nextEventIndex(param.nowIndex+1));
    refreshIndex($('#last-index'), nextEventIndex(param.events.length-1));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const refreshIndex = (button, index) => {
    button
      .attr('disabled', index === null)
      .unbind('click')
      .bind('click', () => moveToTrafficLight(index));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const prevEventIndex = (n) => {
    if (param.nowIndex === 1) { // 0 is creation event
      return null; // disable
    } else {
      return n;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const nextEventIndex = (n) => {
    if (param.nowIndex === param.events.length-1) {
      return null; // disable
    } else {
      return n;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const makeIndexHtml = () => {
    const index = param.nowIndex;
    const colour = param.events[index].colour;
    return `<div id="index-number" class="${colour}">${index}</div>`;
  };

  //-----------------------------------------
  // traffic-lights
  //-----------------------------------------

  const refreshTrafficLights = () => {
    const trafficLights = $('#review-traffic-lights');
    trafficLights.html(makeTrafficLightsHtml());
    let wasIndex = 0;
    $.each($('.diff-traffic-light', trafficLights), (_, light) => {
      const $light = $(light);
      const nowIndex = $light.data('index');
      $light.click(() => moveToTrafficLight(nowIndex));
      cd.setupTrafficLightTip($light, param.version, param.id, param.avatarIndex, wasIndex, nowIndex);
      wasIndex = nowIndex;
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const makeTrafficLightsHtml = () => {
    let html = '';
    $.each(param.events, (_n, event) => {
      if (event.colour !== '') { // 0 == creation
        html += makeTrafficLightHtml(event);
      }
    });
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const makeTrafficLightHtml = (light) => {
    const colour = light.colour;
    const isRag = (colour === 'red' || colour === 'amber' || colour === 'green');
    const prediction = isRag ? `_predicted_${light.predicted||'none'}` : '';
    return [
      "<div class='diff-traffic-light'",
        ` data-id='${param.id}'`,
        ` data-colour='${colour}'`,
        ` data-index='${light.index}'>`,
        `<img src='/traffic-light/image/${colour}${prediction}.png'/>`,
        makeTrafficLightMarkerHtml(light),
      '</div>',
    ].join('');
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const makeTrafficLightMarkerHtml = (light) => {
    const currentIndex = (param.nowIndex === light.index);
    if (currentIndex) {
      return `<img id='traffic-light-marker' src='/traffic-light/image/marker_${light.colour}.png'/>`;
    } else {
      return '';
    }
  };

  //-----------------------------------------
  // files
  //-----------------------------------------

  const refreshFiles = () => {
    const diffContent = $('#diff-content');
    const diffFilenames = $('#diff-filenames');
    diffFilenames.html(makeDiffFilenames(param.diffs));
    resetFilenameAddedDeletedLineCountHandlers();
    diffContent.html(makeDiffContent(param.diffs));
    buildDiffFilenameHandlers(param.idsAndSectionCounts);
    showFile(param.currentFilenameId);
  };

  const showFile = (filenameId) => {
    $(`#radio_${filenameId}`)
      .click()
      .scrollIntoView({ direction: 'vertical' });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const makeDiffFilenames = (diffs) => {
    let html = '';
    $.each(sortedDiffs(diffs), (_, diff) => {
      html += '<div class="diff-filename-box">';
      const deletedLineCount = diff['delete_line_count'];
      const addedLineCount = diff['added_line_count'];
      const showCounts = (deletedLineCount > 0 || addedLineCount > 0);
      html += makeDiffDeletedCount(showCounts, diff);
      html += makeDiffAddedCount(showCounts, diff);
      html += makeDiffFilename(diff);
      html += '</div>';
    });
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const makeDiffFilename = (diff) => {
    return outerHTML($('<div>', {
      'class': 'filename',
      'data-filename': diff.filename,
      'id': `radio_${diff.id}`,
      'text': diff.filename
    }));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const makeDiffDeletedCount = (showCounts, diff) => {
    return makeDiffCount(showCounts, diff, 'deleted_line_count', 'deleted');
  };

  const makeDiffAddedCount = (showCounts, diff) => {
    return makeDiffCount(showCounts, diff, 'added_line_count', 'added');
  };

  const makeDiffCount = (showCounts, diff, propertyName, cssName) => {
    if (!inDiffMode()) {
      return '';
    }
    const div = $('<div>', {
      'class': `diff-${cssName}-line-count button`,
      'data-filename': diff.filename
    });
    if (showCounts) {
      div.append(diff[propertyName]);
    }
    return outerHTML(div);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const outerHTML = (element) => {
    return element.get(0).outerHTML;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const sortedDiffs = (diffs) => {
    let filenames = [];
    $.each(diffs, (_, diff) => {
      filenames.push(diff.filename);
    });
    // ensure filenames appear in the same order as kata/edit page
    const sorted = cd.sortedFilenames(filenames);
    const diffFor = (filename) => {
      for (let i = 0; i !== diffs.length; i++) {
        if (diffs[i].filename === filename) {
          return diffs[i];
        }
      }
    };
    let result = [];
    $.each(sorted, (_, filename) => {
      result.push(diffFor(filename));
    });
    return result;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const resetFilenameAddedDeletedLineCountHandlers = () => {

    const display = (node, name, value) => {
      // only [+][-] counts for current filename are live
      if ($(node).attr('disabled') !== 'disabled') {
        const filename = $(node).data('filename');
        const selector = `[id="${filename}_diff_div"] ${name}`;
        $(selector).css('display', value);
        if (value === 'none') {
          $(node).removeClass('on');
          $(node).addClass('off');
        } else {
          $(node).removeClass('off');
          $(node).addClass('on');
        }
      }
    };

    $('.diff-deleted-line-count')
      .clickToggle(
        function() { display(this, 'deleted', 'none' ); },
        function() { display(this, 'deleted', 'block'); }
      );

    $('.diff-added-line-count')
      .clickToggle(
        function() { display(this, 'added', 'none' ); },
        function() { display(this, 'added', 'block'); }
      );
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const buildDiffFilenameHandlers = (diffs) => {
    // Builds click handlers for all filenames for a given
    // [ kata-id, was-index, now-index] tuple.
    // When you open a new filename it auto-scrolls its first diff-chunk.
    // When you reclick a filename it auto-scrolls to its *next* diff-chunk.
    const getFilename = (node) => $.trim(node.text());
    const id = (name) => $(`[id="${name}"]`);
    const diffFileContentFor = (filename) => id(`diff_file_content_for_${filename}`);
    const diffFileDiv = (filename) => id(`${filename}_diff_div`);

    let previousFilenameNode;
    let alreadyOpened = [];

    const loadFrom = (diff) => {
      const id = diff.id;
      const filenameNode = $(`#radio_${id}`);
      const filename = getFilename(filenameNode);
      const sectionCount = diff.section_count;
      const diffSheet = diffFileContentFor(filename);
      let sectionIndex = 0;

      if (sectionCount > 0) {
        filenameNode.attr('title', 'Auto-scroll through diffs');
      }

      return () => {

        const reselected =
          previousFilenameNode !== undefined &&
            getFilename(previousFilenameNode) === filename;

        $('.diff-deleted-line-count, .diff-added-line-count').attr('disabled', true);
        $(`.diff-deleted-line-count[data-filename="${filename}"]`).attr('disabled', false);
        $(`.diff-added-line-count[data-filename="${filename}"]`).attr('disabled', false);

        cd.radioEntrySwitch(previousFilenameNode, filenameNode);

        if (previousFilenameNode !== undefined) {
          diffFileDiv(getFilename(previousFilenameNode)).hide();
        }
        diffFileDiv(getFilename(filenameNode)).show();
        previousFilenameNode = filenameNode;
        param.filename = filename;

        if (sectionCount > 0 && (reselected || !cd.inArray(filename, alreadyOpened))) {
          const section = $(`#${id}_section_${sectionIndex}`);
          const downFromTop = 250;
          const halfSecond = 500;
          diffSheet.animate({
            scrollTop: '+=' + (section.offset().top - downFromTop) + 'px'
          }, halfSecond);
          sectionIndex += 1;
          sectionIndex %= sectionCount;
        }
        alreadyOpened.push(filename);
      };
    }; // loadFrom()

    $.each(diffs, (_n, diff) => {
      const filename = $(`#radio_${diff.id}`);
      filename.click(loadFrom(diff));
    });
  }; // buildDiffFilenameHandlers()

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const makeDiffContent = (diffs) => {
    const holder = $('<span>');
    $.each(diffs, (_, diff) => {
      const table = $('' +
        `<div id="${diff.filename}_diff_div" class="filename_div">` +
        '<table>' +
          '<tr class="valign-top">' +
            makeTd('<div class="diff-line-numbers"></div>') +
            makeTd(`<div id="diff_file_content_for_${diff.filename}"` +
                   ' class="diff-sheet"></div>') +
          '</tr>' +
        '</table>' +
        '</div>'
        );
      const content = $('.diff-sheet', table);
      const numbers = $('.diff-line-numbers', table);
      content.html(diff.content);
      numbers.html(diff.line_numbers);
      bindLineNumberScrolling(content, numbers);
      holder.append(table);
    });
    return holder;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const bindLineNumberScrolling = ($content, $numbers) => {
    const synchScroll = () => {
      $numbers.scrollTop($content.scrollTop());
    };
    $content.bind({
      keydown   : synchScroll,
      scroll    : synchScroll,
      mousewheel: synchScroll,
      mousemove : synchScroll,
      mousedown : synchScroll,
      mouseup   : synchScroll
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const setForkButtonTip = () => {
    const button = $('#fork-button');
    cd.setTip(button, () => {
      const tip = `create a new exercise<br/>from this traffic-light's files`;
      cd.showHoverTip(button, tip);
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const setCheckoutButtonTip = () => {
    const button = $('#checkout-button');
    cd.setTip(button, () => {
      const tip = `checkout this<br/>traffic-light's files`;
      cd.showHoverTip(button, tip);
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const doCheckout = () => {
    const checkoutParams = {
          id: param.id,
       index: param.nowIndex
    };
    $.getJSON('/reverter/revert', checkoutParams, (data) => {
      $('#review-page').hide();
      $('#kata-page').show();
      deleteAllNonOutputFiles();
      insertNewFiles(data.visibleFiles);
      $('#test-button').click();
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const deleteAllNonOutputFiles = () => {
    cd.eachFilename((filename) => {
      if (!isOutputFile(filename)) {
        cd.fileDelete(filename);
      }
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const isOutputFile = (filename) => {
    return ['stdout','stderr','status'].includes(filename);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const insertNewFiles = (files) => {
    for (const filename in files) {
      cd.fileCreate(filename, { content:files[filename] });
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const setupButton = (name, handler) => {
    const button = `<button id="${name}-button" type="button"></button>`;
    $(`#${name}-button-box`).html(button);
    $(`#${name}-button`)
      .text(name)
      .unbind('click')
      .bind('click', handler);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const makeTr = (html) => `<tr>${html}</tr>`;
  const makeTd = (html) => `<td>${html}</td>`;

  // - - - - - - - - - - - - - - - - - - - - - - - -

  setupButton('fork', () => cd.forkDialog(param.id, param.nowIndex));
  setForkButtonTip();
  if (!inTestPage) {
    refresh();
  }

});

//--></script>

<%= render(:partial => 'review/extension_filenames') %>
<%= render(:partial => 'review/highlight_filenames') %>

<div id="review-top-row">
  <div id="avatar-box"></div>
  <div id="resume-button-box"></div>
  <%= render(:partial => 'review/avatar_navigator') %>
  <%= render(:partial => 'review/traffic_light_navigator') %>
  <div id="review-traffic-lights"></div>
</div>

<table>
  <tr valign="top">
    <td class="left-column">
      <%= render(:partial => 'review/diff_checkbox') %>
      <div id="fork-button-box"></div>
      <div id="checkout-button-box"></div>
      <div id="diff-filenames"></div>
    </td>
    <td>
      <div id="diff-content"></div>
    </td>
  </tr>
</table>
