<%= render partial: 'review/avatars_lib' %>
<%= render partial: 'review/faders' %>
<%= render partial: 'review/get_json' %>
<%= render partial: 'review/pick_file' %>
<%= render partial: 'shared/sorted_filenames' %>

<div id="review-top-row">
  <%= render partial: 'review/help_icon' %>
  <%= render partial: 'review/avatar_navigator' %>
  <%= render partial: 'review/traffic_light_navigator' %>
  <%= render partial: 'review/traffic_lights' %>
</div>

<table>
  <tr valign="top">
    <td class="left-column">
      <table class="controls">
        <tr>
          <td><%= render partial: 'review/resume_button' %></td>
          <td><%= render partial: 'review/diff_checkbox' %></td>
          <td><%= render partial: 'review/fork_button' %></td>
          <td><%= render partial: 'review/checkout_button' %></td>
        </tr>
      </table>
      <table>
        <tr><td><%= render partial: 'review/filenames' %></td></tr>
        <tr><td><%= render partial: 'review/files' %></td></tr>
        <tr><td><%= render partial: 'review/output' %></td></tr>
      </table>
    </td>
    <td>
      <div id="diff-content"></div>
      <div id="diff-content-output"></div>
    </td>
  </tr>
</table>

<script>
'use strict';
$(() => {

  cd.review.page = $('#review-page');

  const review = cd.review;

  let reviewId = undefined;
  review.id = () => reviewId;

  review.refresh = (kataId, nowIndex, showDiff = review.diffCheckBox.isChecked()) => {
    reviewId = kataId;
    review.avatarNavigator.refresh(kataId);
    review.diffCheckBox   .refresh(kataId, nowIndex, showDiff);
    review.files          .refresh(kataId, nowIndex);
    review.output         .refresh(kataId, nowIndex);
    review.trafficLights  .refresh(kataId, nowIndex);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  // When arriving from a dashboard *avatar*
  //    o) wasIndex == -1, nowIndex == -1
  //    o) we are *not* showing a diff.
  // When arriving from traffic-light (on test-page or dashboard-page)
  //    o) wasIndex == nowIndex-1
  //    o) we *are* showing a diff.

  review.fromTestPage = (kataId, index) => {
    review.fadeIn(() => {
      review.checkoutButton.show();
      review.resumeButton.show();
    });
    const showDiff = true;
    review.refresh(kataId, index, showDiff);
  };

  if ($('#kata-page').length === 0) {
    const wasIndex = parseInt(cd.urlParam('was_index', -1));
    const nowIndex = parseInt(cd.urlParam('now_index', -1));
    const showDiff = (wasIndex != nowIndex);
    review.page.show();
    review.refresh("<%= @id %>", nowIndex, showDiff);
  }

});
</script>
