<script type="text/javascript"><!--
'use strict';
$(() => {

  $('.kata-row').each((_i,row) => {
    let index = 0; // each avatar must restart index at zero
    $.each($('.diff-traffic-light', $(row)), (_,light) => {
      const $light = $(light);
      const id = $light.data('id');
      const wasIndex = index;
      const nowIndex = $light.data('index');
      $light.click(() => {
        window.open(cd.showReviewUrl(id, wasIndex, nowIndex));
      });
      cd.setupTrafficLightTip($light, id, wasIndex, nowIndex);
      index = nowIndex;
    });
  });

  $('.avatar-image').click(element => {
    const id = $(element.currentTarget).data('id');
    window.open(cd.showReviewUrl(id, -1, -1));
  });

  cd.pieChart($('#traffic-lights .pie'));
  cd.setupHoverTips($('[data-tip]'));

  $('.scroll-handle').scrollIntoView();

});
//--></script>

<div id="traffic-lights" class="table-scroll">

<table>

  <% if @minute_columns == 'true' %>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <% @time_ticks.keys.sort.each_with_index do |td_no,index| %>
  		    <% seconds = @time_ticks[td_no] %>
  		    <th>
    	      <% if seconds.class != Hash %>
              <div class='time-tick' data-tip="<%= raw time_tick(seconds) %>"></div>
            <% end %>
          </th>
        <% end %>
        <th>
        </th>
      </tr>
    </thead>
  <% end %>

  <tbody>
    <% @gapped.keys.sort_by{|kata_id| @all_indexes[kata_id] }.each do |kata_id| %>
    <% lights = @all_lights[kata_id] %>

    <tr class="kata-row">

      <th><%= raw diff_avatar_image(kata_id, @all_indexes[kata_id]) %></th>
      <th><%= raw pie_chart(lights) %></th>
      <th><%= raw traffic_light_count(lights) %></th>

  	  <% td_map = @gapped[kata_id] %>
  	  <% td_map.keys.sort.each_with_index do |td_no,index| %>
  		  <% td = td_map[td_no] %>

  		  <td class="<%= parity(index) %> column">
  		  <% if td.class == Hash %>
  		    <span class="collapsed-multi-gap"></span>
  		  <% end %>
  		  <% if td.class == Array %>
  		    <% if td.length == 0 %>
  			    <div class="gap"></div>
  		    <% else %>
            <table align="right">
              <tr>
  				    <% td.each do |light| %>
                <td><%= raw diff_traffic_light(light) %></td>
              <% end %>
              </tr>
            </table>
  		    <% end %>
  		  <% end %>
  		  </td>
  	  <% end %>
      <td>
        <div class="scroll-handle"><div>
      </td>
  	</tr>
    <% end %>

  </tbody>
</table>
</div>
