<script type="text/javascript"><!--
'use strict';
$(() => {

  $('.kata-row').each((_i,row) => {
    let index = 0;
    $.each($('.diff-traffic-light', $(row)), (_,light) => {
      const $light = $(light);
      const id = $light.data('id');
      const wasIndex = index;
      const nowIndex = $light.data('index');
      $light.click(() => {
        window.open(cd.showReviewUrl(id, wasIndex, nowIndex));
      });
      cd.setupTrafficLightTip($light, id, wasIndex, nowIndex);
      index = nowIndex;
    });
  });

  $('.avatar-image').click(element => {
    const id = $(element.currentTarget).data('id');
    window.open(cd.showReviewUrl(id, -1, -1));
  });

  cd.pieChart($('#traffic-lights .pie'));
  cd.setupHoverTips($('[data-tip]'));

  const allTheWay = 100000;
  $('#traffic-lights').scrollLeft(allTheWay);

});
//--></script>

<table>

  <% if @minute_columns == 'true' %>
    <tr>
      <% @time_ticks.keys.sort.each_with_index do |td_no,index| %>
  		  <% seconds = @time_ticks[td_no] %>
  		  <td class="<%= parity(index) %> column">
    	    <% if seconds.class == Hash %>
  	  	    <span class="collapsed-multi-gap"></span>
          <% else %>
            <div class='time-tick' data-tip="<%= raw time_tick(seconds) %>"></div>
          <% end %>
        </td>
      <% end %>
      <td></td>
      <td></td>
      <td>
        <div class='age'
             data-tip="time between<br/>the oldest and newest<br/>traffic-lights">
             <%= raw time_tick(@group.age) %>
           </div>
      </td>
    </tr>
  <% end %>

  <% @gapped.keys.sort_by{|kata_id| @all_indexes[kata_id] }.each do |kata_id| %>
	<tr class="kata-row">
	  <% lights = @all_lights[kata_id] %>
	  <% td_map = @gapped[kata_id] %>

	  <% td_map.keys.sort.each_with_index do |td_no,index| %>
		  <% td = td_map[td_no] %>

		  <td class="<%= parity(index) %> column">
		  <% if td.class == Hash %>
		    <span class="collapsed-multi-gap"></span>
		  <% end %>
		  <% if td.class == Array %>
		    <% if td.length == 0 %>
			    <div class="gap"></div>
		    <% else %>
          <table align="right">
            <tr>
				    <% td.each do |light| %>
              <td><%= raw diff_traffic_light(light) %></td>
            <% end %>
            </tr>
          </table>
		    <% end %>
		  <% end %>
		  </td>
	  <% end %>

    <td class="align-right">
      <%= raw traffic_light_count(lights) %>
    </td>
    <td class="align-center">
      <%= raw pie_chart(lights) %>
    </td>
    <td class="align-left valign-center">
      <%= raw diff_avatar_image(kata_id, @all_indexes[kata_id]) %>
    </td>

	</tr>
  <% end %>
</table>
