<%= render partial: 'hover_tip_container' %>

<div id="dashboard-page">
  <%= render partial: 'heartbeat' %>
  <%= render partial: 'refresh_fn' %>
  <table>
    <tr>
      <td><%= render partial: 'auto_refresh_button' %></td>
      <td><%= render partial: 'minute_columns_button' %></td>
      <td><%= render partial: 'download_button' %></td>
      <td><%= render partial: 'progress_button' %></td>
    </tr>
  </table>
  <%= render partial: 'traffic_lights' %>
</div>

<%= render partial: 'shared/app_bar_long',
    locals: { help_url:"http://blog.cyber-dojo.org/2014/10/the-cyber-dojo-dashboard.html" } %>
