<div id="dashboard-page">
  <table>
    <tr class="valign-top">
      <td class='align-right'>
        <%= render partial: 'controls' %>
        <%= render partial: 'progress_button' %>
        <%= render partial: 'download_button' %>
      </td>
      <td>
        <div id="traffic-lights">
          <%= render partial: 'traffic_lights' %>
        </div>
      </td>
    </tr>
  </table>
</div>

<%# TODO: put back to app_bar_long when @id sorted out %>
<%= render partial: 'shared/app_bar_short',
    locals: { help_url:"http://blog.cyber-dojo.org/2014/10/the-cyber-dojo-dashboard.html" } %>
