
<%= render partial: 'shared/app_bar' %>

<div id="dashboard-page">
  <%= render partial: 'heartbeat' %>
  <%= render partial: 'refresh_fn' %>
  <table>
    <tr>
      <td><div id='age-box'><%= render partial: 'age' %></div></td>
      <td><%= render partial: 'auto_refresh_button' %></td>
      <td><%= render partial: 'minute_columns_button' %></td>
      <td><%= render partial: 'progress_button' %></td>
    </tr>
  </table>
  <%= render partial: 'traffic_lights' %>
</div>
