<div id="dashboard-page">
  <%= render partial: 'refresh' %>
  <%= render partial: 'heartbeat' %>
  <%= render partial: 'auto_refresh_button' %>
  <%= render partial: 'minute_columns_button' %>
  <%= render partial: 'progress_button' %>
  <%= render partial: 'download_button' %>
  <%= render partial: 'traffic_lights' %>
</div>

<%= render partial: 'shared/app_bar_long',
    locals: { help_url:"http://blog.cyber-dojo.org/2014/10/the-cyber-dojo-dashboard.html" } %>
