
<div id="sha-page">
  <table id="aligner">
    <% @shas.each do |service,sha| %>
    <tr>
      <td><%= service %></td>
      <td><%= sha %></td>
      <td>
        <a href="https://github.com/cyber-dojo/<%= service %>/tree/<%= sha %>">
          github
        </a>
      </td>
      <!--
      <td>
        <a href="https://hub.docker.com/r/cyberdojo/<%= service %>/tags/">
          dockerhub
        </a>
      </td>
      -->
    </tr>
    <% end %>
  </table>

  <%= render partial: 'shared/app_bar_short',
      locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" }
  %>
</div>