<div id="app-bar">
  <%= partial('shared/yin_yang_logo') %>

  <%= partial('shared/display_name') %>
  <%= partial('shared/exercise_name') %>
  <%= partial('shared/id') %>

  <%= partial('shared/settings') %>
  <%= partial('shared/info') %>
</div>

<%= partial('shared/hover_tip_container') %>
