<div class="sponsors-cell">
  <div class="sponsor your-logo-here">your&nbsp;logo&nbsp;here?</div>
  <%= render partial: 'shared/charity_button' %>
  <%= render partial: 'shared/sponsorship_button' %>
  <div class="sponsors">
    <%= render partial: 'shared/sponsors/kosli' %>
    <%= render partial: 'shared/sponsors/wingman' %>
    <%= render partial: 'shared/sponsors/samman_coaching' %>
    <%= render partial: 'shared/sponsors/bluefruit' %>
    <%= render partial: 'shared/sponsors/pro_agile' %>
    <%= render partial: 'shared/sponsors/praqma' %>
    <%= render partial: 'shared/sponsors/cucumber' %>
    <%= render partial: 'shared/sponsors/curbralan' %>
    <%= render partial: 'shared/sponsors/showcode' %>
  </div>
</div>
