<div class="sponsors-cell">
  <div class="sponsor your-logo-here">your&nbsp;logo&nbsp;here?</div>
  <%= partial('shared/donate_button') %>
  <%= partial('shared/charity_button') %>
  <%= partial('shared/sponsorship_button') %>
  <div class="sponsors">
    <%= partial('shared/sponsors/kosli') %>
    <%= partial('shared/sponsors/wingman') %>
    <%= partial('shared/sponsors/samman_coaching') %>
    <%= partial('shared/sponsors/bluefruit') %>
    <%= partial('shared/sponsors/pro_agile') %>
    <%= partial('shared/sponsors/praqma') %>
    <%= partial('shared/sponsors/cucumber') %>
    <%= partial('shared/sponsors/curbralan') %>
  </div>
</div>
