<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="cache-control" content="no-transform">
    <meta charset="utf-8" />
    <meta name="description" content="The place to practice programming" />
    <meta name="keywords" content="Free Online Software Coding Programming Dojo Kata Deliberate Team Practice" />
    <meta name="author" content="Jon Jagger" />
    <title><%= @title %></title>

    <script type="text/javascript">
      var cyberDojo = {
        env: {
          "DASHBOARD_BUTTON":     "<%= @runtime_env['DASHBOARD_BUTTON'] %>",
          "FORK_BUTTON":          "<%= @runtime_env['FORK_BUTTON'] %>",
          "PREDICT":              "<%= @runtime_env['PREDICT'] %>",
          "STARTING_INFO_DIALOG": "<%= @runtime_env['STARTING_INFO_DIALOG'] %>"
        },
        kata: {
          id: "<%= @id %>",
          manifest: () => (<%= @manifest.to_json %>),
          isLatest: () => cyberDojo.kata.manifest().version === 2,
          filenames:{},
          tabs:{}
        },
        review: {},
        lib: {}
      };
      var cd = cyberDojo;
    </script>

    <meta name="csrf-token" content="<%= @csrf_token %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/codemirror.min.css"
          integrity="sha384-zaeBlB/vwYsDRSlFajnDd7OydJ0cWk+c2OWybl3eSUf6hW2EbhlCsQPqKr3gkznT"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/dialog/dialog.min.css"
          integrity="sha384-MomRjC6IKuGHk2XIFKXAwFx0gytd6+ZsF9pnFM3JWZV5izBqPgoLapxRqG1h5IKm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="<%= CSS_PATH %>">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/codemirror.min.js"
            integrity="sha384-BEgQlz0fN4eG0n4jipmUe+nOg65hPY7L0E/lPVRaOPdzAfLPGEbXnpAodHtSnlwM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/mode/multiplex.min.js"
            integrity="sha384-Qr/1hjoJmzEf6ToQLo1nr8/GF5ekpaqUx0DM71QHZ4N8+c8l8aqlQ25whgApmChE"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/mode/simple.min.js"
            integrity="sha384-5+aYjV0V2W3IwhAYp/9WOrGMv1TaYkCjnkkW7Hv3yJQo28MergRCSRaUIUzDUs2J"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/dialog/dialog.min.js"
            integrity="sha384-3COleknUtlGKoEOR9Wm7WKVRyS6ljwYU2x1ebD8nd6ujaLMqwY+q3F8+yDcefbXr"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/search/searchcursor.min.js"
            integrity="sha384-ILkploZWukdp1VMmzMnE+32H0mgy2e+w29evc4grALGOqIRGBgbBGrwkX7a6zK7y"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/search/search.min.js"
            integrity="sha384-v64L7YTJ/ullw5v36qIJcvWAxuEnRGu9E326vUV3Ro7sx4HCZHIDTphKO53htazT"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/addon/search/jump-to-line.min.js"
            integrity="sha384-Hs0iLvujdeUuFY+vs6PlDtVV6VUJpKfJUAnjL6C84Xq4qjsVuCPKbm6ISywgDzP0"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/clike/clike.min.js"
            integrity="sha384-o9m634t2Hy35pPNKd9Xe16ntbSw11jCOuKPDrzQGXI8k87L2JZthaA3rwmJjnF7Z"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/clojure/clojure.min.js"
            integrity="sha384-5aoVe5/JYg3IUfHHXoKNMLiqoVUbPWEsptSJ9L40Bf+VEoTzKZdnV9eAH4FtmDrp"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/coffeescript/coffeescript.min.js"
            integrity="sha384-221pVSb5Q5KUrnj9z03J5NFzY+GSMOXFaTEPBBgQ+wpDPwhuLs+41WriZ4exF/jH"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/css/css.min.js"
            integrity="sha384-fpeIC2FZuPmw7mIsTvgB5BNc8QVxQC/nWg2W+CgPYOAiBiYVuHe2E8HiTWHBMIJQ"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/d/d.min.js"
            integrity="sha384-Bpp45TTYtJJMou+nCTQXGtLYxHcnT6kEV01Eo2zm/QG2kMIJzLSlGCmwTo4O9+4E"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/diff/diff.min.js"
            integrity="sha384-LQlEpxhPVss01BpgFtFS619MjPWXEFWC+AtH7y0Oi8fLkMa1HEdyjV3AK/CUFj4v"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/gherkin/gherkin.min.js"
            integrity="sha384-GwyXDRZsJeeno8Wb/cftDfDbZoAH9SGan5+j8yIhnDkVv8D1H8CXipdOm550ZMAs"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/go/go.min.js"
            integrity="sha384-5JibIOm7aukO/59w24DrtvE9mo7X9IgRteN2f2OnH+KiO1RM2wMH3jeWaSMdW2Yc"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/groovy/groovy.min.js"
            integrity="sha384-OGT50x2yohwbOAzcjalZfiAy3z4mwnp6K8PQrE83e14fQlb8j6zjNNVkNnjCSCR6"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/haskell/haskell.min.js"
            integrity="sha384-nsDYBRb4TswZWQV/BXZhK3rnWmr/pJg1Hj/YkNKi5oJRQOI62frsB4VQkE8kIxJq"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/javascript/javascript.min.js"
            integrity="sha384-g0o+WW9mdIxA7LaaCKTkRm0M5TVT+Bb4s9eocxPsI2G0Xm0POG9iD6G6qP1IIsfS"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/cmake/cmake.min.js"
            integrity="sha384-DSg+Zmx9hkzOP62jUwxXuE9VVsQCU4qdg7ehnfviEmNHwHZJyIx3AE/erkeMxbZn"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/markdown/markdown.min.js"
            integrity="sha384-nPWqI+4+e+SwcpI6LVYBpaQd+zIZIQgC6lN7Gep8MJQr5DdmMGtWV8qJQgcyODcF"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/python/python.min.js"
            integrity="sha384-Xy+2exU6lBoT4OpUOtnQb+cUpn+nlJQEHvRobWVtwz6wIsw4oNoO7xyd/l8rYgMy"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/ruby/ruby.min.js"
            integrity="sha384-X1fjw3/PXnpDnnE168So+cJbmr6pkkiFoM+e25e2G7UNQRSLh5wcn/h7qbbSq2nC"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/rust/rust.min.js"
            integrity="sha384-SR4yBoZPBNymEiWYb4h8YbjccmCDvVyzr5DYXq4QWt7E/voRHmUbr/ja617eM6Rh"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/shell/shell.min.js"
            integrity="sha384-dmPRq54XNtYnlnAo7QrwJnZNa5r0JP5gU8z4H0686Cgz37qrR2jmNaDHUXyMI4wn"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/swift/swift.min.js"
            integrity="sha384-VTJz9HPfJaa5K8kZ0ZXEuy/7QvNcfOnN23vIZPz4kNfubM9ide6/mXfbzMkk+SWN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/vb/vb.min.js"
            integrity="sha384-+a5C+CG9PsHQvKH3yKD7MHWKmWWlTANyTkhpsR96pLdU4i/e/oKFL7tIe29Ax1fA"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/vhdl/vhdl.min.js"
            integrity="sha384-eT5NjDL8Y6bE06VYl6aZzDa1kzXqLcMW8FeJYB8Xxvr/yUVVs2GuEzq2w68u7q1R"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/xml/xml.min.js"
            integrity="sha384-xPpkMo5nDgD98fIcuRVYhxkZV6/9Y4L8s3p0J5c4MxgJkyKJ8BJr+xfRkq7kn6Tw"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/htmlmixed/htmlmixed.min.js"
            integrity="sha384-xYIbc5F55vPi7pb/lUnFj3wu24HlpAMZdtBHkNrb2YhPzJV3pX7+eqXT2PXSNMrw"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.18/mode/php/php.min.js"
            integrity="sha384-1FUwPY2kaZKXw258/9CYBSS+zcc3CPggxE1zLjmYYiOdkcOw3KcXH5VNJWWbjw2U"
            crossorigin="anonymous"></script>
    <script src="<%= JS_PATH %>"></script>

  </head>

  <body>
    <%= partial('layouts/wait_spinner') %>
    <div id="cyber-dojo-page">
      <%= yield %>
    </div>
  </body>
</html>
