
<table class="align-right" cellpadding="0" cellspacing="0">
  <tr>
    <td rowspan="5">
      <%= render partial: 'shared/avatar_grid_colour' %>
    </td>
    <td>
      <%= render partial: 'setup_default_button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render partial: 'setup_custom_button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render partial: 'enter_button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render partial: 'review_button' %>
    </td>
  </tr>
</table>
