<div id="app-bar-top"></div>

<div id="home-page">

  <%= render partial: 'custom' %>

  <table class="center-content">
    <tr>
      <td><%= render partial: 'cyber_dojo' %></td>
    </tr>
  </table>

  <hr/>

  <h1 class="center-content">
    <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html">cyber-dojo Foundation</a>
  </h1>
  <div class="info-text center-content">
    <a href="http://blog.cyber-dojo.org/2014/09/terms-conditions-warranty-cost.html">Commercial use</a>
    of the public server requires a license
  </div>
  <div class="info-text center-content">
    The <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html">cyberdojo Foundation</a>
    issues licenses
  </div>
  <div class="info-text center-content">
    100% of the license fees buy
    <a href="http://www.raspberrypi.org">Raspberry Pi</a>
    computers to
    <a href="http://blog.cyber-dojo.org/2016/10/cyber-dojo-raspberry-pies-in-action.html">help children learn to program</a>
  </div>
  <div class="info-text center-content">
    Hosting costs for the public server are paid by
    <a href="http://cucumber.io">Cucumber Limited</a>
  </div>

  <br/>
  <table class="center-content">
      <%= render partial: 'pics_coimbatore' %>
      <%= render partial: 'pics_bray' %>
  </table>

  <br/>
  <br/>

  <div class="center-content">
    <div id="scio">Scottish Charitable Incorporated Organisation</div>
    <div id="magic-number">(magic number SC045890)</div>
  </div>

  <hr/>

  <h1 class="center-content">about</h1>
  <div class="info-text center-content">
    <div>cyber-dojo is
         <a href="https://en.wikipedia.org/wiki/Open-source_software">open sourced</a>
         on <a href="https://github.com/cyber-dojo/web">github</a>
    </div>
    <div>
      <a href="https://www.behance.net/NadyaSivers">Nadya Sivers</a> drew the fantastic animal images
    </div>
    <div><a href="http://jonjagger.blogspot.co.uk/">Jon Jagger</a> develops cyber-dojo
    </div>
    <img class="hello-world" src="/images/JonJaggerHelloWorld.jpg">
  </div>

  <br/>
  <br/>
  <br/>

</div>

<div id="app-bar-bottom">
<%= render partial: 'shared/footer_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
</div>

