<div id="home-page">

  <div id="heading" class="center-content">
    <%= render partial: 'cyber_dojo'                        %>
    <%= render partial: 'the_place_to_practise_programming' %>
    <%= render partial: 'individual_button'                 %>
    <%= render partial: 'group_button'                      %>
  </div>

  <%= render partial: 'license'    %>
  <%= render partial: 'pies'       %>
  <%= render partial: 'foundation' %>
  <%= render partial: 'technology' %>

</div>
