
<div id="home-page">

  <%= render partial: 'custom' %>

  <div id="heading" class="center-content">
    <%= render partial: 'cyber_dojo' %>
    <%= render partial: 'the_place_to_practise_programming' %>
  </div>

  <div id="main-buttons">
    <table class="center-content">
      <tr>
        <td><%= render partial: 'main_buttons' %></td>
      </tr>
    </table>
  </div>

  <div id="foundation" class="center-content">
    <%= render partial: 'foundation' %>
  </div>

  <div id="about" class="center-content">
    <%= render partial: 'about' %>
  </div>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>

