
<div id="home-page">

  <%= render partial: 'custom' %>

  <table class="center-content">
    <tr>
      <td><%= render partial: 'cyber_dojo' %></td>
    </tr>
  </table>

  <hr/>

  <h1 class="center-content">licensing</h1>
  <div class="licensing-text center-content">
    <div><a href="http://blog.cyber-dojo.org/2014/09/terms-conditions-warranty-cost.html">commercial use</a> of the public server requires a license</div>
    <div>the <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html">cyberdojo Foundation</a> issues licenses</div>
  </div>

  <hr/>

  <h1 class="center-content">
    <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html">cyber-dojo Foundation</a>
  </h1>
  <div class="info-text center-content">
    100% of the license fees and donations buy Raspberry Pi computers helping
    children learn to program.
  </div>
  <br/>
  <table class="center-content">
      <%= render partial: 'pics_coimbatore' %>
      <%= render partial: 'pics_bray' %>
  </table>

  <br/>
  <br/>

  <div class="center-content">
    <div id="scio">Scottish Charitable Incorporated Organisation</div>
    <div id="magic-number">(magic number SC045890)</div>
  </div>

  <hr/>

  <h1 class="center-content">about</h1>
  <div class="info-text center-content">
    <div>cyber-dojo is open sourced on <a href="https://github.com/cyber-dojo/web">github</a>
    </div>

    <div>
      <a href="https://www.behance.net/NadyaSivers">Nadya Sivers</a> drew the fantastic animal images
    </div>

    <div><a href="http://jonjagger.blogspot.co.uk/">Jon Jagger</a> designs and builds cyber-dojo
    </div>
    <img class="hello-world" src="/images/JonJaggerHelloWorld.jpg">
  </div>

  <br/>
  <br/>
  <br/>

</div>

<%= render partial: 'shared/footer_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>

