<%= render partial: 'show_starting_info' %>
<%= render partial: 'shared/app_bar' %>
<div id="top-spacer"></div>
<div id="review-page"><%= render partial: 'review/review' %></div>
<div id="kata-page">  <%= render partial: 'view_test' %>    </div>

<script>
'use strict';
$(() => {

  cd.kata.page = $('#kata-page');

  cd.codeMirror.resetTheme();
  cd.kata.tabs.setup();

  <% @files.each do |filename,file| %>
    cd.kata.editor.createFile(
      "<%= j raw(filename) %>",
      { content:"<%= j raw(file['content']) %>" }
    );
  <% end %>

  cd.kata.editor.output(
    "<%= j raw(@stdout['content']) %>",
    "<%= j raw(@stderr['content']) %>",
    "<%= j raw(@status) %>"
  );

  const events = <%= raw @events.to_json %>;
  events.forEach((event) => {
    if (cd.lib.isLight(event)) {
      cd.kata.appendTrafficLight(event);
    }
  });
  cd.kata.setIndex(events.length);
  cd.kata.scrollLastTrafficLightIntoView();
  cd.kata.setupPrediction();
  cd.kata.filenames.refresh();

  cd.showSettingsButton();
  cd.setupHotkeys();
  cd.showStartingInfoDialog();

});
</script>
