<%= partial('kata/show_starting_info') %>
<%= partial('shared/app_bar') %>
<div id="top-spacer"></div>
<div id="review-page"><%= partial('review/review') %></div>
<div id="kata-page">  <%= partial('kata/view_test') %>    </div>

<script>
'use strict';
$(() => {

  cd.kata.page = $('#kata-page');

  cd.codeMirror.resetTheme();
  cd.kata.tabs.setup();

  <% @files.each do |filename,file| %>
    cd.kata.editor.createFile(
      "<%= j(filename) %>",
      { content:"<%= j(file['content']) %>" }
    );
  <% end %>

  cd.kata.editor.output(
    "<%= j(@stdout['content']) %>",
    "<%= j(@stderr['content']) %>",
    "<%= j(@status) %>"
  );

  const events = <%= @events.to_json %>;
  events.forEach((event) => {
    if (cd.lib.isLight(event)) {
      cd.kata.appendTrafficLight(event);
    }
  });
  cd.kata.setIndex(events.length);
  cd.kata.scrollLastTrafficLightIntoView();
  cd.kata.setupPrediction();
  cd.kata.filenames.refresh();

  cd.showSettingsButton();
  cd.setupHotkeys();
  cd.showStartingInfoDialog();

});
</script>
