
<div id="app-bar">
  <table>
    <tr>
      <td><%= render partial: 'shared/yin_yang_logo' %></td>
      <td><%= render partial: 'shared/display_name' %></td>
      <td><%= render partial: 'shared/exercise_name' %></td>
      <td><%= render partial: 'shared/id' %></td>
      <td><%= render partial: 'shared/theme' %></td>
      <td><%= render partial: 'shared/colour' %></td>
      <td><%= render partial: 'shared/predict' %></td>
      <td><%= render partial: 'shared/tweet' %></td>
      <td><%= render partial: 'shared/dashboard' %></td>
      <td><%= render partial: 'shared/help' %></td>
      <td><%= render partial: 'shared/hotkeys' %></td>
      <td><%= render partial: 'shared/shas' %></td>
      <td><%= render partial: 'shared/praqma' %></td>
      <td><%= render partial: 'shared/cucumber' %></td>
      <td><%= render partial: 'shared/accu' %></td>
    </tr>
  </table>
</div>

<%= render partial: 'shared/hover_tip_container' %>
