
<div id="app-bar">
  <%= render partial: 'shared/yin_yang_logo' %>

  <%# mode toggles %>
  <%= render partial: 'shared/settings' %>
  <%= render partial: 'shared/theme' %>
  <%= render partial: 'shared/colour' %>
  <%= render partial: 'shared/predict' %>

  <%# text info %>
  <%= render partial: 'shared/display_name' %>
  <%= render partial: 'shared/exercise_name' %>
  <%= render partial: 'shared/id' %>

  <%# dialogs %>
  <%= render partial: 'shared/charity' %>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/hotkeys' %>
  <%= render partial: 'shared/traffic_lights' %>

  <%# pages %>
  <%= render partial: 'shared/dashboard' %>

  <%= render partial: 'shared/help' %>
  <%= render partial: 'shared/shas' %>
</div>

<%= render partial: 'shared/hover_tip_container' %>
