
<div id="app-bar">
  <%= render partial: 'shared/yin_yang_logo' %>

  <%= render partial: 'shared/display_name' %>
  <%= render partial: 'shared/exercise_name' %>
  <%= render partial: 'shared/id' %>

  <%= render partial: 'shared/settings' %>
  <%= render partial: 'shared/info' %>
</div>

<%= render partial: 'shared/hover_tip_container' %>
