
<div id="app-bar">
  <table>
    <tr>
      <td><%= render partial: 'shared/tweet' %></td>
      <td><%= render partial: 'shared/accu' %></td>
      <td><%= render partial: 'shared/praqma' %></td>
      <td><%= render partial: 'shared/cucumber' %></td>
      <td><%= render partial: 'shared/help', locals: { help_url: help_url } %></td>
      <td><%= render partial: 'shared/hotkeys' %></td>
      <td><%= render partial: 'shared/options' %></td>
      <td><%= render partial: 'shared/display_name' %></td>
      <td><%= render partial: 'shared/exercise_name' %></td>
      <td><%= render partial: 'shared/id' %></td>
      <td><%= render partial: 'shared/group_id' %></td>
      <td><%= render partial: 'shared/avatar_name' %></td>
      <td><%= render partial: 'shared/avatar_image' %></td>
      <td><%= render partial: 'shared/dashboard' %></td>
    </tr>
  </table>
</div>

<%= render partial: 'shared/hover_tip_container' %>
