
<%= render partial: 'shared/app_bar_up_down_button_click' %></td>

<div id="app-bar">
  <table>
    <tr>
      <td><%= render partial: 'shared/yin_yang_logo' %></td>
      <td><%= render partial: 'shared/app_bar_up_down_button' %></td>
      <td><%= render partial: 'shared/tweet' %></td>
      <td><%= render partial: 'shared/accu' %></td>
      <td><%= render partial: 'shared/cucumber' %></td>
      <td><%= render partial: 'shared/help', locals: { help_url: help_url } %></td>
      <td><span id="message"><%= @message %></span></span>
    </tr>
  </table>
</div>
