
<%= render partial: 'shared/yin_yang_logo_click' %>

<div id="app-bar">
  <table>
    <tr>
      <td><%= render partial: 'shared/yin_yang_logo' %></td>
      <td><%= render partial: 'shared/tweet' %></td>
      <td><%= render partial: 'shared/accu' %></td>
      <td><%= render partial: 'shared/cucumber' %></td>
      <td><%= render partial: 'shared/help', locals: { help_url: help_url } %></td>
      <td><%= render partial: 'shared/hotkeys' %></td>
      <td><%= render partial: 'shared/options' %></td>
      <td><%= render partial: 'shared/info' %></td>
    </tr>
  </table>
</div>
