
<div id="app-bar">
  <%= render partial: 'shared/yin_yang_logo' %>
  <%= render partial: 'shared/display_name' %>
  <%= render partial: 'shared/exercise_name' %>
  <%= render partial: 'shared/id' %>
  <%= render partial: 'shared/theme' %>
  <%= render partial: 'shared/colour' %>
  <%= render partial: 'shared/predict' %>
  <%= render partial: 'shared/charity' %>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/traffic_lights' %>
  <%= render partial: 'shared/dashboard' %>
  <%= render partial: 'shared/hotkeys' %>
  <%= render partial: 'shared/shas' %>
  <%= render partial: 'shared/help' %>
</div>

<%= render partial: 'shared/hover_tip_container' %>
