
<div id="footer">
  <table>
    <tr>
      <td><%= render partial: 'shared/home_page_logo' %></td>
      <td><%= render partial: 'shared/help', locals: { help_url: help_url } %></td>
      <td><%= render partial: 'shared/options', locals: {
          show_syntax_highlight: defined?(show_syntax_highlight) ? show_syntax_highlight : false,
          show_drivertimer: defined?(show_drivertimer) ? show_drivertimer : false } %></td>
      <td><%= render partial: 'shared/tweet' %></td>
      <td><%= render partial: 'shared/accu' %></td>
      <td><%= render partial: 'shared/cucumber' %></td>
    </tr>
  </table>
</div>
