
<script type="text/javascript"><!--
'use strict';
$(() => {
  $('#dashboard-button').click(() => {
    const url = `/dashboard/show/<%= @group_id %>`;
    window.open(url);
  });
});
//--></script>

<span id="info">

  <span id="display-name-box"><%= @display_name %></span>

  <% if @exercise != '' %>
    <span id="exercise-name-box>"<%= @exercise %></span>
  <% end %>

  <span id="id-box">id=<%= @id %></span>

  <% if @avatar_name != '' %>

    <span id="group-id-box">group=<%= @group_id %></span>

    <button type="button" id="dashboard-button">dashboard</button>

    <span id="avatar-image-box">
      <img src="/avatar/image/<%= @avatar_index %>"
           alt="<%= @avatar_name %>"
           class="avatar-image" />
    </span>

    <span id="avatar-name-box">avatar=<%= @avatar_name %></span>

  <% end %>

</span>
