<div class="sponsors-cell">
  <%= render partial: 'shared/charity_button' %>
  <%= render partial: 'shared/sponsors_button' %>
  <div class="sponsors">
    <%= render partial: 'shared/sponsors/praqma' %>
    <%= render partial: 'shared/sponsors/cucumber' %>
    <%= render partial: 'shared/sponsors/curbralan' %>
    <%= render partial: 'shared/sponsors/wingman' %>
    <div class="sponsor your-logo-here">your&nbsp;logo&nbsp;here?</div>
  </div>
</div>
