
<div id="languages-list">
  <% @major_names.each_with_index do |major_name, index| %>
    <div class="filename"
         id="major_<%= index %>"
         data-major="<%= major_name %>"
         data-index="<%= index %>"
         data-minor-index="<%= @minor_indexes[index][0] %>">
      <%= major_name %>
    </div>
  <% end %>
</div>