
<div>
  <table id="table" class="align-center">
    <% index = 0 %>
    <% (1..8).each do %>
    <tr>
      <% (1..8).each do %>
      <td>
        <% avatar_name = @all_avatar_names[index] %>
        <% if @started_avatar_names.include?(avatar_name) %>
          <img onclick='cd.resume("<%= @id %>","<%= avatar_name %>");'
               src="/images/avatars/<%= avatar_name %>.jpg"
               class="avatar"
               title="<%= avatar_name %>"
               data-cursor="pointer"/>
        <% else %>
          <img src="/images/avatars/<%= avatar_name %>.jpg"
               class="avatar grey"/>
        <% end %>
        <% index += 1 %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
