
<div id="exercises-list">
  <% @exercise_names.each_with_index do |exercise_name, index| %>
    <div class='filename'
         id="exercise_<%= index %>"
         data-index="<%= index %>"
         data-name="<%= exercise_name %>" >
      <%= exercise_name.gsub('_', ' ') %>
    </div>
  <% end %>
</div>

<% @instructions.each_with_index do |text,index| %>
   <textarea style="display:none;" id="instructions_<%= index %>"><%=h text %>
   </textarea>
<% end %>
