
<div id="setup-start-point-page">

  <table>
    <tr class="valign-top">
      <td colspan="3" align="right">
        <%= render partial: 'heading' %>
      </td>
    </tr>
    <tr class="valign-top">
    </tr>
    <tr class="valign-top">
      <td>
        <div id="language-info-container"></div>
        <textarea id="exercise-info-container" readonly="readonly"></textarea>
      </td>
      <td id="start-points-language-container">
        <div class="title">language, tests?</div>
        <hr/>
        <%= render partial: 'languages_list' %>
      </td>
      <td id="start-points-exercise-container">
        <div class="title">exercise?</div>
        <hr/>
        <%= render partial: 'exercises_list' %>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="right">
        <%= render partial: 'ok_button' %>
      </td>
    </tr>
  </table>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>


