
<%= render partial: 'exercises_chooser' %>

<div id="setup-exercises-page">

  <table>
    <tr>
      <td>
        <%= render partial: 'heading' %>
      </td>
    </tr>
    <tr>
      <td align="right">
        <table>
          <tr id="exercises-container">
            <td>
              <%= render partial: 'exercises_contents' %>
            </td>
            <td>
              <div class="title">exercise?</div>
              <hr/>
              <%= render partial: 'exercises_names' %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="valign-top">
      <td align="right">
        <%= render partial: 'set_it_up_button' %>
      </td>
    </tr>
  </table>

</div>


