
<div id="setup-start-point-page">

  <%= render partial: 'heading' %>

  <table class="align-center">
    <tr>
      <td><div class="title">language, test-framework?</div></td>
      <td><div class="title">exercise?</div></td>
      <td></td>
    </tr>
    <tr>
      <td><%= render partial: 'language_list' %></td>
      <td><%= render partial: 'exercise_list' %></td>
      <td>
        <div id="language-info-container"></div>
        <textarea id="exercise-info-container" readonly="readonly"></textarea>
      </td>
    </tr>
  </table>

  <%= render partial: 'ok_button' %>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>


