
<%= render partial: 'shared/start_point_chooser' %>

<div id="setup-start-point-page">

  <div id="pull-spinner"></div>

  <table>
    <tr class="valign-top">
      <td colspan="3">
        <div id="setup-a-practice-session">          setup&nbsp;a&nbsp;new&nbsp;practice&nbsp;session&nbsp;from&nbsp;a&nbsp;<em>default</em>&nbsp;&nbsp;start&nbsp;position&nbsp;
        </div>
      </td>
    </tr>
    <tr class="valign-top">
      <td id="info-container">
        <%= render partial: 'language_info' %>
      </td>
      <td id="display-names-major-container">
        <%= render partial: 'shared/display_names_major_list' %>
      </td>
      <td id="display-names-minor-container">
        <%= render partial: 'shared/display_names_minor_list' %>
      </td>
    </tr>
    <tr>
      <td colspan="3" align="right">
        <%= render partial: 'next_button' %>
      </td>
    </tr>
  </table>

</div>


