
<%= render partial: 'shared/start_point_chooser' %>

<div id="setup-start-point-page">

  <div id="pull-spinner"></div>

  <table>
    <tr class="valign-top">
      <td colspan="3" align="right">
        <div id="setup-a-practice-session">
          set up <%= @from=='individual' ? 'my' : 'our' %> new custom practice session
        </div>
      </td>
    </tr>
    <tr class="valign-top">
      <td id="info-container">
      </td>
      <td id="start-points-major-container">
        <%= render partial: 'shared/start_points_major_list' %>
      </td>
      <td id="start-points-minor-container">
        <%= render partial: 'shared/start_points_minor_list' %>
      </td>
    </tr>
    <tr class="valign-top">
      <td colspan="3" align="right">
        <%= render partial: 'set_it_up_button' %>
      </td>
    </tr>
  </table>

</div>


