<%
  sha = ENV['CYBER_DOJO_SHA'] || ''
  release = ENV['CYBER_DOJO_RELEASE'] || ''
  if release.empty?
    @version = "#{sha[0...7]} (development)"
    @href = "https://github.com/cyber-dojo/versioner/blob/#{sha}/.env.md"
  else
    @version = "#{release} (public)"
    @href = "https://github.com/cyber-dojo/versioner/releases/tag/#{release}"
  end
%>

<div id="version-page">

  <div id="version-box">
    <a href="<%= @href %>"
      target="_blank">
      <%= @version %>
    </a>
  </div>

  <table id="aligner">
    <tr>
      <th>image-name</th>
      <th>commit-sha</th>
    </tr>
    <% @start_points.sort.each do |name,values| %>
    <% image_name = values['image_name'] %>
    <% sha = values['sha'] %>
    <tr id="<%= name %>">
      <td><%= image_name %></td>
      <td><%= sha %></td>
    </tr>
    <% end %>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <% @services.sort.each do |name,values| %>
    <% name = values['name'] %>
    <% sha = values['sha'] %>
    <tr id="<%= name %>">
      <td>cyberdojo/<%= name %>:<%= sha[0...7]%></td>
      <td><a href="<%= values['github_url'] %>"><%= sha %></a></td>
    </tr>
    <% end %>
  </table>

  <%= render partial: 'shared/app_bar_short',
      locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" }
  %>
</div>
