
<div id="individual-page">

  <div id="title" class="center-content">
    i'm&nbsp;on&nbsp;my&nbsp;own
  </div>

  <table class="center-content">
    <tr>
      <td><img src="/images/avatars/<%= @avatar %>.jpg" id="avatar" alt=""></td>
      <td>
        <table>
          <tr><td><%= render partial: 'create_button' %></td></tr>
          <tr><td><%= render partial: 'create_custom_button' %></td></tr>
          <tr><td><%= render partial: 'rejoin_button' %></td></tr>
        </table>
      </td>
    </tr>
    <tr>
      <td id="nadya">
       <a href="https://www.behance.net/NadyaSivers"
        target="_blank">Nadya Sivers</a> drew the animal images
      </td>
    </tr>
  </table>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
