<div id="visible-files-container"></div>

<script type="text/javascript"><!--
'use strict';
$(() => {

  <% @kata.files.each do |filename,content| %>
    cd.newFile("<%= j raw(filename) %>", "<%= j raw(content) %>");
  <% end %>

  cd.newFile('stdout', "<%= j raw(@kata.stdout) %>");
  cd.newFile('stderr', "<%= j raw(@kata.stderr) %>");
  cd.newFile('status', "<%= j raw(@kata.status) %>");

});
//--></script>
