<script type="text/javascript">
'use strict';
$(() => {

  cd.createTip($('.sponsor'),
    '100% of donations and license fees go to ' +
    "the cyber-dojo Foundation's charitable aims. " +
    'A big thank you to all our sponsors.');

});
</script>

<table id="sponsors">
  <tr><td><%= render partial: 'shared/sponsors/praqma' %></td></tr>
  <tr><td><%= render partial: 'shared/sponsors/cucumber' %></td></tr>
  <tr><td><%= render partial: 'shared/sponsors/curbralan' %></td></tr>
  <tr><td><%= render partial: 'shared/sponsors/wingman' %></td></tr>
  <tr><td><%= render partial: 'shared/sponsors/accu' %></td></tr>
</table>
