
<script type="text/javascript"><!--

$(function() {

  const review = $('#review-dialog')
    .dialog({
        dialogClass: 'no-title',
              width: 1150,
             height: 650,
              modal: true,
           autoOpen: false,
      closeOnEscape: true,
    });

  cd.setupReviewTrafficLight = function(lights) {
    lights.each(function() {
      const light = $(this);
      const wasTag = light.data('was-tag');
      const nowTag = light.data('now-tag');
      light.click(function() {
        cd.setReviewDialogData("<%= @kata.id %>", "<%= @avatar.name %>", wasTag, nowTag);
        review.dialog('open');
      });
      cd.setTip(light, function() {
        const tip = 'review<br/>' + wasTag + ' &harr; ' + nowTag;
        cd.showHoverTip(light, tip);
      });
    });
  };

  cd.setupReviewTrafficLight($('.diff-traffic-light'));

});

//--></script>

<div id="traffic-lights">
  <table>
    <tr>
      <% @avatar.lights.each do |light| %>
        <td><%= raw simple_diff_traffic_light(light) %></td>
      <% end %>
      <td><%= render partial: 'traffic_lights_count' %></td>
      <td><%= render partial: 'traffic_lights_pie_chart' %></td>
      <td><%= render partial: 'avatar_image' %></td>
    </tr>
  </table>
</div>

<div style="display:none;">
  <div id="review-dialog">
    <%= render(:partial => 'review/review') %>
  </div>
</div>