<script type="text/javascript"><!--
'use strict';
$(() => {

  const id = "<%= @kata.id %>";
  const avatarName = "<%= @kata.avatar_name %>";

  const review = $('#review-dialog')
    .dialog({
        dialogClass: 'no-title',
              width: 1150,
             height: 650,
              modal: true,
           autoOpen: false,
      closeOnEscape: true,
    });

  // wasIndex holds the index of rightmost traffic-light
  // and is needed when run_tests.js.erb calls
  // setupReviewTrafficLights() with its new traffic-light.
  let wasIndex = 0;

  cd.setupReviewTrafficLights = ($lights) => {
    $lights.each((_i,element) => {
      const $light = $(element);
      const nowIndex = $light.data('index');
      setupTrafficLightReview($light, wasIndex, nowIndex);
      setupTrafficLightTip($light, wasIndex, nowIndex);
      wasIndex = nowIndex;
    });
  };

  const setupTrafficLightReview = ($light, wasIndex, nowIndex) => {
    $light.click(() => {
      cd.setReviewDialogData(id, avatarName, wasIndex, nowIndex);
      review.dialog('open');
    });
  };

  const setupTrafficLightTip = ($light, wasIndex, nowIndex) => {
    const data = { id:id, was_tag:wasIndex, now_tag:nowIndex };
    cd.setTip($light, () => {
      $.getJSON('/tipper/traffic_light_tip', data, (response) => {
        cd.showHoverTip($light, response.html);
      });
    });
  };

  cd.setupReviewTrafficLights($('.diff-traffic-light'));

});
//--></script>

<div id="traffic-lights">
  <table>
    <tr>
      <% @kata.lights.each do |light| %>
        <td><%= raw diff_traffic_light(light) %></td>
      <% end %>
      <td><%= render partial: 'traffic_lights_count' %></td>
      <td><%= render partial: 'traffic_lights_pie_chart' %></td>
      <td><%= render partial: 'avatar_image' %></td>
      <td><%= render partial: 'scroll_handle' %></td>
    </tr>
  </table>
</div>

<div id="review-dialog" style="display:none;">
  <%= render partial: 'review/review',
              locals: { inDialog:true } %>
</div>
