
<script type="text/javascript"><!--

$(() => {

  cd.setupReviewTrafficLight = ($lights) => {
    // also called from run_tests.js.erb
    const review = $('#review-dialog')
      .dialog({
          dialogClass: 'no-title',
                width: 1150,
               height: 650,
                modal: true,
             autoOpen: false,
        closeOnEscape: true,
      });

    $lights.each(function() {
      const light = $(this);
      const id     = light.data('id');
      const avatar = light.data('avatar-name');
      const wasTag = light.data('was-tag');
      const nowTag = light.data('now-tag');
      light.click(() => {
        cd.setReviewDialogData(id, avatar, wasTag, nowTag);
        review.dialog('open');
      });
    });
  };

  cd.setupReviewTrafficLight($('.diff-traffic-light'));
  cd.setupHoverTip($('[data-tip]'));

});

//--></script>

<div id="traffic-lights">
  <table>
    <tr>
      <% was_tag = 0 %>
      <% id = @kata.id %>
      <% name = @avatar_name %>
      <% @kata.lights.each do |light| %>
        <% colour = light.colour %>
        <% now_tag = light.number %>
        <td><%= raw diff_traffic_light(id, name, colour, was_tag, now_tag) %></td>
        <% was_tag = now_tag %>
      <% end %>
      <td><%= render partial: 'traffic_lights_count' %></td>
      <td><%= render partial: 'traffic_lights_pie_chart' %></td>
      <td><%= render partial: 'avatar_image' %></td>
    </tr>
  </table>
</div>

<div style="display:none;">
  <div id="review-dialog">
    <%= render(:partial => 'review/review') %>
  </div>
</div>