<script type="text/javascript"><!--
'use strict';
$(() => {

  const version = '<%= @version %>';
  const id = '<%= @id %>';
  const groupId = '<%= @group_id %>';
  const avatarName = '<%= @avatar_name %>';
  const avatarIndex = '<%= @avatar_index %>';

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // The index of most-recent (rightmost) traffic-light.
  // Updated in the browser and sent to the web service
  // as an optimization (so the web service does not need to
  // retrieve it from saver).
  const inputIndex = $("input[name='index']");

  const wasIndex = (value) => {
    if (value === undefined) {
      return inputIndex.val();
    } else {
      inputIndex.val(value);
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // There are two sequences of traffic-lights:
  // o) kata-page traffic-lights live under #traffic-lights.
  //    Click any of these to open the diff-review
  // o) review-page traffic-lights live under #review-traffic-lights.
  //    Click any of these to move to it in the diff-review.
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // cd.appendTrafficLight() sets up the tip/click handlers
  // for the kata-page (but not review-page) traffic-lights.
  // It is called in two places:
  //   1) From this file
  //      - This happens when a page loads.
  //      - It sets up the existing traffic-lights.
  //   2) From run_tests.js.erb
  //      - This happens when you run the [test]s
  //      - It sets up the new traffic-light.
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const $lights = $('#traffic-lights');

  cd.appendTrafficLight = (event) => {
    const colour = event.colour;
    if (colour) {
      const $div = $('<div>', {
        'class':'diff-traffic-light',
        'data-id':id,
        'data-index':event.index,
        'data-avatar-index':avatarIndex,
        'data-colour':colour
      });
      const predicted = event.predicted || 'none';
      const suffix = ['red','amber','green'].includes(colour) ? `_predicted_${predicted}` : '';
      const $img = $('<img>', {
        'src':`/traffic-light/image/${colour}${suffix}.png`,
        'alt':`${colour} traffic-light`
      });
      const $light = $div.append($img);
      $lights.append($light);
      $light.click(() => cd.setReviewData(version, id, groupId, avatarName, avatarIndex, wasIndex(), event.index));
      cd.setupTrafficLightTip($light, version, id, avatarIndex, wasIndex(), event.index);
    }
    wasIndex(event.index);
  };

  const events = <%= raw @events_json.gsub("\n",'') %>;
  events.forEach((event) => cd.appendTrafficLight(event));

});
//--></script>

<input type="hidden" name="index" value="0">

<div id="traffic-lights"></div>
