<%= render partial: 'charity_dialog' %>
<%= render partial: 'editor_tab_size' %>
<%= render partial: 'traffic_lights_scroller' %>
<%= render partial: 'run_tests' %>

<div class="lhs-gutter">
  <%= render partial: 'traffic_lights_counts' %>
  <%= render partial: 'predict_counts' %>
  <%= render partial: 'charity' %>
  <%= render partial: 'shared/sponsors' %>
</div>

<div class="main-content">
  <%= form_tag( action: 'run_tests', id: @id ) do %>
    <%= render partial: 'image_name' %>
    <%= render partial: 'index' %>
    <%= render partial: 'max_seconds' %>
    <div class="left-column">
      <%= render partial: 'avatar_image' %>
      <div id="test-control">
        <%= render partial: 'predict_revert' %>
        <%= render partial: 'test_button' %>
      </div>
      <%= render partial: 'file_create_rename_delete' %>
      <%= render partial: 'filenames' %>
    </div><div class="right-column">
      <%= render partial: 'traffic_lights' %>
      <%= render partial: 'tabs' %>
      <%= render partial: 'repl' %>
      <%= render partial: 'files' %>
    </div>
  <% end %>
</div>
