<%= render partial: 'tab_size' %>

<%= form_tag( { action: 'run_tests', id: @id } ) do %>
  <%= render partial: 'hidden_filenames' %>
  <%= render partial: 'avatar_index' %>
  <%= render partial: 'image_name' %>
  <%= render partial: 'index' %>
  <%= render partial: 'max_seconds' %>
  <%= render partial: 'schema_version' %>
  <table>
    <tr class="valign-top">
      <td class="left-column">
        <%= render partial: 'avatar_image' %>
        <%= render partial: 'test_button' %>
        <%= render partial: 'file_new_rename_delete' %>
      </td>
      <td>
        <%= render partial: 'traffic_lights_count' %>
        <%= render partial: 'traffic_lights' %>
      </td>
    </tr>
    <tr class="valign-top">
      <td class="left-column">
        <%= render partial: 'filename_list' %>
      </td>
      <td>
        <%= render partial: 'files' %>
      </td>
    </tr>
  </table>
<% end %>

<%= render partial: 'scroller' %>
<%= render partial: 'test_button_handler' %>
