<%= render partial: 'tab_size' %>
<%= render partial: 'scroller' %>

<%= form_tag( { action: 'run_tests', id: @id } ) do %>
  <%= render partial: 'hidden_inputs' %>
  <div id="edit-top-row">
    <%= render partial: 'avatar_image' %>
    <%= render partial: 'test_button' %>
    <%= render partial: 'traffic_lights_count' %>
    <%= render partial: 'traffic_lights' %>
  </div>
  <table>
    <tr class="valign-top">
      <td class="left-column">
        <%= render partial: 'file_new_rename_delete' %>
        <%= render partial: 'filename_list' %>
      </td>
      <td>
        <%= render partial: 'files' %>
      </td>
    </tr>
  </table>
<% end %>
