
<%= render partial: 'editor_tab_size' %>
<%= render partial: 'traffic_lights_scroller' %>
<%= render partial: 'test_predict' %>

<div class="top-row">
  <%= render partial: 'avatar_image' %>
  <%= render partial: 'traffic_lights_count_total' %>
  <%= render partial: 'traffic_lights_count_predict' %>
  <%= render partial: 'traffic_lights' %>
</div>

<%= form_tag( action: 'run_tests', id: @id ) do %>
  <div class="lhs-column">
    <%= render partial: 'test_button' %>
    <%= render partial: 'file_create_rename_delete' %>
    <%= render partial: 'filenames' %>
  </div><div class="middle-column">
    <%= render partial: 'tabs' %>
    <%= render partial: 'repl' %>
    <%= render partial: 'files' %>
    <%= render partial: 'hidden_inputs' %>
  </div><div class="rhs-column">
    <%= render partial: 'sponsors' %>
  </div>
<% end %>
