
<%= render partial: 'tab_size' %>
<%= render partial: 'scroller' %>

<div id="edit-top-row">
  <%= render partial: 'avatar_image' %>
  <%= render partial: 'test_button' %>
  <%= render partial: 'traffic_lights_count_total' %>
  <%= render partial: 'traffic_lights_count_predict' %>
  <%= render partial: 'traffic_lights' %>
</div>

<%= form_tag( { action: 'run_tests', id: @id } ) do %>
  <table>
    <tr class="valign-top">
      <td class="filenames-box">
        <%= render partial: 'file_new_rename_delete' %>
        <div id="filename-list"></div>
      </td>
      <td>
        <%= render partial: 'tab_filenames' %>
        <%= render partial: 'repl' %>

        <%= render partial: 'hidden_inputs' %>
        <%= render partial: 'files' %>
      </td>
    </tr>
  </table>
<% end %>
