
<div class="filename_div"
     id="<%= filename %>_div">
          <textarea class="file_content"
                    spellcheck="false"
                    data-filename="<%= filename %>"
                    name="file_content[<%= filename %>]"
                    id="file_content_for_<%= filename %>"
                    wrap="off">
<%= h content %></textarea>
</div>
