
<%= render partial: 'shared/hover_tip_container' %>
<%= render partial: 'shared/app_bar' %>

<div id="review-page" style="display:none">
  <%= render partial: 'review/review' %>
</div>

<div id="kata-page">
  <%= render partial: 'view_test' %>
</div>

<script type="text/javascript"><!--
'use strict';
$(() => {
  switch ("<%= @theme %>") {
    case  'dark': cd.setThemeDark(); break;
    case 'light': cd.setThemeLight(); break;
  }
  switch ("<% @colour %>") {
    case  'on': cd.setColourOn(); break;
    case 'off': cd.setColourOff(); break;
  }
  cd.loadInitialFile();
  cd.scrollLastTrafficLightIntoView();
});
//--></script>
