<%= render partial: 'test_button_handler' %>
<%= render partial: 'highlight_filenames' %>
<%= render partial: 'shared/extension_filenames' %>
<%= render partial: 'tab_size' %>

<%= form_tag( { action: 'run_tests',
                id: @kata.id,
                avatar: @avatar.name
              } ) do %>

  <div id="kata-page">
    <%= render partial: 'test_spinner' %>
    <%= render partial: 'file_hashes_incoming' %>
    <%= render partial: 'file_hashes_outgoing' %>
    <%= render partial: 'image_name' %>
    <%= render partial: 'max_seconds' %>
    <%= render partial: 'runner_choice' %>
    <%= render partial: 'hidden_filenames' %>
    <table>
      <tr>
        <td class="align-right">
          <%= render partial: 'test_button' %>
        </td>
        <td>
          <div id="traffic-lights">
            <%= render partial: 'traffic_lights' %>
          </div>
        </td>
      </tr>
      <tr class="valign-top">
        <td class="align-right">
          <%= render partial: 'file_new_rename_delete' %>
          <%= render partial: 'filename_list' %>
        </td>
        <td>
          <%= render partial: 'editor' %>
        </td>
      </tr>
    </table>
  </div>

  <%= render partial: 'shared/app_bar_long',
             locals: {
                help_url:"http://blog.cyber-dojo.org/2014/10/the-cyber-dojo-test-page.html"
             } %>

<% end %>

<script type="text/javascript"><!--
$(() => {
  cd.storeIncomingFileHashes();
  cd.storeOutgoingFileHashes();
  cd.rebuildFilenameList();
  cd.loadTestFile();
  cd.switchAllEditorsToCodeMirror();
});
//--></script>
