<script>
'use strict';
$(() => {
  cd.kata.id = () => "<%= @id %>";
});
</script>

<%= render partial: 'starting_info' %>
<%= render partial: 'shared/hover_tip_container' %>
<%= render partial: 'shared/app_bar' %>

<div id="review-page"><%= render partial: 'review/review' %></div>
<div id="kata-page"><%= render partial: 'view_test' %></div>

<script>
'use strict';
$(() => {

  cd.kata.page = $('#kata-page');

  cd.kata.index.reset();
  cd.codeMirror.resetTheme();
  cd.kata.tabs.setup({repl:"<%= @env['REPL'] %>"});

  <% @files.each do |filename,file| %>
    cd.kata.editor.createFile(
      "<%= j raw(filename) %>",
      { content:"<%= j raw(file['content']) %>" }
    );
  <% end %>

  cd.kata.editor.output(
    "<%= j raw(@stdout['content']) %>",
    "<%= j raw(@stderr['content']) %>",
    "<%= j raw(@status) %>"
  );
  cd.kata.filenames.refresh();

  // load initial traffic-lights
  const events = <%= raw @events.to_json %>;
  events.forEach((event,index) => {
    cd.appendTrafficLight(event);
  });

  cd.showSettingsButton();
  cd.updateTrafficLightsCount();
  cd.scrollLastTrafficLightIntoView();
  cd.setupHotkeys();
  cd.showStartingInfoDialog("<%= @env['STARTING_INFO_DIALOG'] %>");

});
</script>
