'use strict';

const appendTestTrafficLight = () => {
  const div = $("<%= raw diff_traffic_light(@light) %>");
  const td = $('<td>');
  td.append(div);
  $('.traffic-lights-count').parent().before(td);
  cd.setupReviewTrafficLight(div);
  cd.setupHoverTip(div);
};

//- - - - - - - - - - - - - - - - - - - - - -

const updateOutput = () => {
  cd.changeFile('stdout', "<%= j raw(@stdout) %>");
  cd.changeFile('stderr', "<%= j raw(@stderr) %>");
  cd.changeFile('status', "<%= j raw(@status) %>");
};

//- - - - - - - - - - - - - - - - - - - - - -

const updateTag = () => {
  cd.setTag("<%= @light.number %>");
};

//- - - - - - - - - - - - - - - - - - - - - -

const updateTrafficLightCount = () => {
  const count = "<%= js_partial('traffic_lights_count') %>";
  $('.traffic-lights-count').html(count);
};


const updateTrafficLightPieChart = () => {
  const pieChart = "<%= js_partial('traffic_lights_pie_chart') %>";
  $('#traffic-lights-pie-chart').html(pieChart);
};

//- - - - - - - - - - - - - - - - - - - - - -

const addNewFiles = () => {
  <% @new_files.each do |filename,content| %>
    cd.newFile("<%= j raw(filename) %>", "<%= j raw(content) %>");
  <% end %>
};

//- - - - - - - - - - - - - - - - - - - - - -

const removeDeletedFiles = () => {
  <% @deleted_files.keys.each do |filename| %>
    cd.deleteFile("<%= j raw(filename) %>");
  <% end %>
};

//- - - - - - - - - - - - - - - - - - - - - -

const updateChangedFiles = () => {
  <% @changed_files.each do |filename,content| %>
    cd.changeFile("<%= j raw(filename) %>", "<%= j raw(content) %>");
  <% end %>
};

//- - - - - - - - - - - - - - - - - - - - - -

const warnIfTestsTimedOut = () => {
  if ("<%= @light.colour %>" !== 'timed_out') {
    return;
  }

  const info =
    "Unable to complete the tests in 10 seconds.\n" +
    "Is there an accidental infinite loop?\n";

  const node = $(
    '<div>' +
    `<textarea id="timed-out" readonly="readonly">${info}</textarea>` +
    '</div>');

  node.dialog({
            width: '620',
         autoOpen: true,
    closeOnEscape: true,
            modal: true,
            title: cd.dialogTitle('timed out'),
          buttons: { close: () => {
              node.remove();
              cd.editorRefocus();
            }
          },
      beforeClose: (event) => {
        if (event.keyCode === $.ui.keyCode.ESCAPE) {
          node.remove();
          cd.editorRefocus();
          return true;
        }
      }
  });
};

//- - - - - - - - - - - - - - - - - - - - - -

appendTestTrafficLight();
updateOutput();
updateTag();
updateTrafficLightCount();
updateTrafficLightPieChart();
addNewFiles();
removeDeletedFiles();
updateChangedFiles();
warnIfTestsTimedOut();

cd.loadTestOutputFile();
cd.storeIncomingFileHashes();
cd.scrollAvatarImageIntoView();
